{% extends "dashboard.twig" %}
{% block content %}
<div class="container">
    {% block javascripts %}
            <script>
                {{ include('js/vehicles.js')}}
            </script>
    {% endblock %}
    <div class="row">
        <div class="col-md-10">
            <h2> Vehiculo </h2>
        </div>   
        <div class="col-md-2 d-flex justify-content-end align-items-end">
            <a class="link pr-4" href="/vehicles/list">Lista</a> 
            <a class="link " href="/admin">Volver</a> 
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-dark" id="alert" role="alert">
                {{ responseMessage }}
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col">
            <form action="/vehicles/save" method="post">
                <div class="form-row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="true">Datos</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" id="buy-tab" data-toggle="tab" href="#buy" role="tab" aria-controls="buy" aria-selected="false">Compra</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" id="sale-tab" data-toggle="tab" href="#sale" role="tab" aria-controls="sale" aria-selected="false">Venta</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" id="accesories-tab" data-toggle="tab" href="#accesories" role="tab" aria-controls="accesories" aria-selected="false">Equipamiento</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">
                                <div class="form-row mt-3">
                                    <div class="form-group col-md-3">
                                        <label for="inputId">Id</label>                        
                                        <input type="text" name="id" class="form-control" id="inputId" placeholder="" value="{{ vehicle.id }}">
                                    </div>
                                    <div class="form-group col-md-3 offset-md-6">
                                            <label for="inputRegistryDate">Fecha Matriculación</label>                        
                                            <input type="date" name="registry_date" class="form-control" id="inputRegistryDate" placeholder="" value="{{ vehicle.registry_date }}">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="form-group col-md-3">
                                        <label for="inputPlate">Matricula</label>                        
                                        <input type="text" name="plate" class="form-control" id="inputPlate" placeholder="" value="{{ vehicle.plate }}">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputVin">Bastidor</label>
                                        <input type="text" name="vin" class="form-control" id="inputVin" placeholder="" value="{{ vehicle.vin }}">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="selectBrand">Marca</label>
                                        <select name="brand" class="form-control" id="selectBrand">
                                            {% for brand in brands %}
                                                <option>{{ brand.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputModel">Modelo</label>
                                        <select name="model" class="form-control" id="selectModel">
                                            {% for model in models %}
                                                <option>{{ model.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">                    
                                    <div class="form-group col-md-9">
                                        <label for="inputDescription">Descripción</label>
                                        <input type="text" name="description" class="form-control" id="inputDescription" placeholder="" value="{{ vehicle.description }}">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputType">Tipo Vehículo</label>
                                        <select name="type" class="form-control" id="selectType">
                                            {% for type in types %}
                                                <option>{{ type.name }}</option>
                                            {% endfor %}                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">                                    
                                    <div class="form-group col-md-3">
                                        <label for="inputStore">Almacen</label>
                                        <select name="store" class="form-control" id="selectType" value="{{ store_selected }}">
                                            {% for store in stores %}
                                                <option>{{ store.name }}</option>
                                            {% endfor %}                            
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputLocation">Ubicacion</label>
                                        <select name="location" class="form-control" id="selectType" value="{{ location_selected }}">
                                            {% for location in locations %}
                                                <option>{{ location.name }}</option>
                                            {% endfor %}                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">                                    
                                    <div class="form-group col-md-2">
                                        <label for="inputKm">Kilómetros</label>
                                        <input type="text" name="km" class="form-control" id="inputKm" placeholder="50000" value="{{ vehicle.km }}">
                                    </div>                    
                                    <div class="form-group col-md-2">
                                        <label for="inputPower">Potencia</label>
                                        <input type="text" name="power" class="form-control text-center" id="inputPower" placeholder="130cv" value="{{ vehicle.power }}">
                                    </div>                          
                                    <div class="form-group col-md-2">
                                        <label for="inputPlaces">Plazas</label>
                                        <input type="text" name="places" class="form-control text-center" id="inputPlaces" placeholder="3" value="{{ vehicle.places }}">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputDoors">Puertas</label>
                                        <input type="text" name="doors" class="form-control text-center" id="inputDoors" placeholder="4" value="{{ vehicle.doors }}">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputColor">Color</label>
                                        <input type="text" name="color" class="form-control" id="inputColor" placeholder="Blanco" value="{{ vehicle.color }}">
                                    </div>                    
                                </div>
                        </div>
                        <div class="tab-pane fade" id="buy" role="tabpanel" aria-labelledby="buy-tab">
                            <div class="form-row mt-3">
                                <div class="form-group col-md-2 offset-md-6">
                                    <label for="inputCost">Precio Compra</label>
                                    <input type="text" name="cost" class="form-control" id="inputCost" placeholder="" value="{{ vehicle.cost }}">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputCost">Iva Compra</label>
                                    <input type="text" name="tvaBuy" class="form-control" id="inputTvaCost" placeholder="" value="{{ vehicle.tva }}">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputCost">Total Compra</label>
                                    <input type="text" name="totalBuy" class="form-control" id="inputTotalCost" placeholder="" value="{{ vehicle.total }}">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sale" role="tabpanel" aria-labelledby="sale-tab">
                            <div class="form-row mt-3">
                                <div class="form-group col-md-2 offset-md-6">
                                    <label for="inputPvp">Precio Venta</label>
                                    <input type="text" name="pvp" class="form-control" id="inputPvp" placeholder="" value="{{ vehicle.pvp }}">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputPvp">Iva Venta</label>
                                    <input type="text" name="tvaSell" class="form-control" id="inputTvaSell" placeholder="" value="{{ vehicle.pvp }}">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputPvp">Total Venta</label>
                                    <input type="text" name="totalSell" class="form-control" id="inputTotalSell" placeholder="" value="{{ vehicle.pvp }}">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="accesories" role="tabpanel" aria-labelledby="accesories-tab">
                            <div class="form-row mt-3 ml-3 mb-3">                                
                                {% for accesory in accesories %}
                                <div class="form-check col-md-3 pl-3">                                    
                                    <input class="form-check-input" name="{{ accesory.name }}" type="checkbox" value="{{ accesory.keystring }}" id="{{accesory.keystring}}" {% for selected_accesory in selected_accesories %}{% if accesory.keystring in selected_accesory.keystring %} checked {% endif %}{% endfor %}>                                                  
                                    <label class="form-check-label" for="defaultCheck1">
                                      {{ accesory.name }}
                                    </label>
                                </div>
                                {% endfor %} 
                            </div>                                                       
                        </div>                    
                    </div>                  
                <div class="form-row">
                    <div class="col text-right">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="/admin" class="btn btn-primary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>    
{% endblock %}
