{% extends "menu.html.twig" %}
{% import 'macros.html.twig' as fields %}
{% block content %}
<div class="container">
    {% block javascripts %}
            {% if script %}
            <script>
                {{ include(script)}}
            </script>
        {% endif %}
    {% endblock %}
    <div class="row">
        <div class="col-md-10">
            <h2> {{ title }} </h2>
        </div>   
        {{ fields.return(list,tab) }}        
    </div>
    <div class="row">
        {{ fields.alert(responseMessage) }}
    </div>    
    <div class="row">
        <div class="col">
            <form id="{{formName}}" action="{{ save }}" method="post">
                <div class="form-row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="true">Datos</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" id="buy-tab" data-toggle="tab" href="#buy" role="tab" aria-controls="buy" aria-selected="false">Compra</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" id="sell-tab" data-toggle="tab" href="#sell" role="tab" aria-controls="sell" aria-selected="false">Venta</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" id="accesories-tab" data-toggle="tab" href="#accesories" role="tab" aria-controls="accesories" aria-selected="false">Accesorios</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" id="equipment-tab" data-toggle="tab" href="#equipment" role="tab" aria-controls="equipment" aria-selected="false">Equipamiento</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" id="technic-tab" data-toggle="tab" href="#tecnicos" role="tab" aria-controls="technics" aria-selected="false">Datos Técnicos</a>
                            </li>
                        </ul>                   
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">
                                <div class="form-row mt-3">
                                    {{ fields.input3(inputs.id.id, inputs.id.name, inputs.id.title, value.id) }}
                                    {{ fields.input3offset6Date(inputs.registryDate.id, inputs.registryDate.name, inputs.registryDate.title, value.registryDate) }}
                                </div>
                                <div class="form-row mt-3">
                                    {{ fields.input3(inputs.plate.id, inputs.plate.name, inputs.plate.title, value.plate) }}
                                    {{ fields.input3(inputs.vin.id, inputs.vin.name, inputs.vin.title, value.vin) }}
                                    {{ fields.select3(inputs.selectBrand.id, inputs.selectBrand.name, inputs.selectBrand.title, value.brand, brands, loadModelsFunction) }}                                    
                                    {{ fields.select3(inputs.selectModel.id, inputs.selectModel.name, inputs.selectModel.title, value.model, models, null) }}
                                </div>
                                
                                <div class="form-row">                    
                                    {{ fields.input9(inputs.description.id, inputs.description.name, inputs.description.title, value.description) }}
                                    {{ fields.select3(inputs.selectVehicleType.id, inputs.selectVehicleType.name, inputs.selectVehicleType.title, value.type, types) }}
                                </div>
                                <div class="form-row">                                    
                                    {{ fields.select3(inputs.selectStore.id, inputs.selectStore.name, inputs.selectStore.title, value.store, stores, loadLocationsFunction) }}
                                    {{ fields.select3(inputs.selectLocation.id, inputs.selectLocation.name, inputs.selectLocation.title, value.location, locations) }}
                                </div>
                                <div class="form-row">                                    
                                    {{ fields.input2(inputs.km.id, inputs.km.name, inputs.km.title, value.km) }}                    
                                    {{ fields.input2(inputs.power.id, inputs.power.name, inputs.power.title, value.power) }}                          
                                    {{ fields.input2(inputs.places.id, inputs.places.name, inputs.places.title, value.places) }}
                                    {{ fields.input2(inputs.doors.id, inputs.doors.name, inputs.doors.title, value.doors) }}
                                    {{ fields.input2(inputs.color.id, inputs.color.name, inputs.color.title, value.color) }}                    
                                </div>
                            </div>                                
                            <div class="tab-pane fade" id="buy" role="tabpanel" aria-labelledby="buy-tab">
                                <div class="form-row mt-3">
                                    {{ fields.select6(inputs.selectProvidor.id, inputs.selectProvidor.name, inputs.selectProvidor.title, value.providor, providors) }}
                                    {{ fields.inputDate2offset2(inputs.arrival.id, inputs.arrival.name, inputs.arrival.title, value.arrival) }}
                                    {{ fields.inputDate2(inputs.dateBuy.id, inputs.dateBuy.name, inputs.dateBuy.title, value.buyDate) }}                                   
                                </div>
                                <div class="form-row mt-3 d-flex align-items-baseline align-content-center">
                                    {{ fields.input5(inputs.transference.id, inputs.transference.name, inputs.transference.title, value.transference) }}
                                    {{ fields.input3(inputs.service.id, inputs.service.name, inputs.service.title, value.service) }}
                                    {{ fields.checkbox(inputs.secondKey.id, inputs.secondKey.name, inputs.secondKey.title, value.secondKey) }}
                                    {{ fields.checkbox(inputs.rebu.id, inputs.rebu.name, inputs.rebu.title, value.rebu) }}
                                    {{ fields.checkbox(inputs.technicCard.id, inputs.technicCard.name, inputs.technicCard.title, value.technicCard) }}
                                    {{ fields.checkbox(inputs.permission.id, inputs.permission.name, inputs.permission.title, value.permission) }}
                                </div>                               
                                <div class="form-row mt-3">
                                    {{ fields.input2offset6(inputs.cost.id, inputs.cost.name, inputs.cost.title, value.cost) }}
                                    {{ fields.input2(inputs.tvaBuy.id, inputs.tvaBuy.name, inputs.tvaBuy.title, null) }}
                                    {{ fields.input2(inputs.totalBuy.id, inputs.totalBuy.name, inputs.totalBuy.title, null) }}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="sell" role="tabpanel" aria-labelledby="sell-tab">
                                <div class="form-row mt-3">
                                    {{ fields.select6(inputs.seller.id, inputs.seller.name, inputs.seller.title, value.seller, sellers) }}
                                    {{ fields.select6(inputs.customer.id, inputs.customer.name, inputs.customer.title, value.customer, customers) }}
                                    {{ fields.inputDate2offset8(inputs.appoint.id, inputs.appoint.name, inputs.appoint.title, value.appointDate) }}
                                    {{ fields.inputDate2(inputs.dateSell.id, inputs.dateSell.name, inputs.dateSell.title, value.sellDate) }}                                   
                                </div>                                    
                                <div class="form-row mt-3">
                                    {{ fields.input2offset6(inputs.pvp.id, inputs.pvp.name, inputs.pvp.title, value.pvp) }}
                                    {{ fields.input2(inputs.tvaSell.id, inputs.tvaSell.name, inputs.tvaSell.title, null) }}
                                    {{ fields.input2(inputs.totalSell.id, inputs.totalSell.name, inputs.totalSell.title, null) }}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="accesories" role="tabpanel" aria-labelledby="accesories-tab">
                                <div class="form-row mt-3 ml-3 mb-3">
                                    <div class="col">
                                        <h2>Componentes</h2>
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="form-group col text-right">                        
                                        <button id="searchComponents" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ComponentsModal">
                                            Buscar Componentes
                                        </button>
                                    </div>
                                </div>
                                <div class="form-row">
                                    {{ fields.input1(inputs.componentId.id, inputs.componentId.name, inputs.componentId.title, selectedComponent.id) }}
                                    {{ fields.input3(inputs.componentRef.id, inputs.componentRef.name, inputs.componentRef.title, selectedComponent.ref) }}
                                    {{ fields.input3(inputs.componentName.id, inputs.componentName.name, inputs.componentName.title, selectedComponent.name) }}
                                    {{ fields.input2(inputs.componentPvp.id, inputs.componentPvp.name, inputs.componentPvp.title, editPriceComponent) }}
                                    {{ fields.input1(inputs.componentCantity.id, inputs.componentCantity.name, inputs.componentCantity.title, editCantityComponent) }}
                                    {{ fields.input2(inputs.componentTotal.id, inputs.componentTotal.name, inputs.componentTotal.title, null) }}
                                </div>
                                <div class="form-row mt-3 ml-3 mb-3">    
                                    <div class="col">                                        
                                        <table id="ComponentsTable" class="table">
                                            <tr>
                                                <th>Referencia</th>
                                                <th>Fabricante</th>
                                                <th>Nombre</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            {% for component in vehicleComponents %}
                                                <tr>
                                                    <td>{{ component.ref }}</td>
                                                    <td>{{ component.mader }}</td>
                                                    <td>{{ component.name }}</td> 
                                                    <td>{{ component.cantity }}</td>
                                                    <td>{{ component.pvp }}</td> 
                                                    <td><a href="/Intranet/vehicles/vehicleComponents/edit?componentId={{component.id}}&selectedTab=accesories&id={{ value.id }}">Edit</a></td>
                                                    <td><a href="/Intranet/vehicles/vehicleComponents/delete?componentId={{component.id}}&selectedTab=accesories&id={{ value.id }}">Delete</a></td>
                                                </tr>
                                            {% endfor %}                
                                        </table>                                        
                                    </div>                                        
                                </div>                                
                                <div class="form-row d-flex justify-content-end">
                                    <div class="col-md-2 ">
                                        <div class="form-group">
                                            <button type="button" onclick="addComponent();" class="btn btn-primary">Añadir</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    {{ fields.input2offset6(inputs.componentsPrice.id, inputs.componentsPrice.name, inputs.componentsPrice.title, null) }}
                                    {{ fields.input2(inputs.componentsTva.id, inputs.componentsTva.name, inputs.componentsTva.title, null) }}
                                    {{ fields.input2(inputs.componentsTotal.id, inputs.componentsTotal.name, inputs.componentsTotal.title, null) }}
                                </div>
                                <div class="form-row mt-3 ml-3 mb-3">
                                    <div class="col">
                                        <h2>Recambios</h2>
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="form-group col text-right">
                                        <button id="searchSupplies" type="button" formmethod="get" class="btn btn-primary" data-toggle="modal" data-target="#SuppliesModal">
                                            Buscar Recambios
                                        </button>                        
                                    </div>
                                </div>               
                                <div class="form-row">
                                    {{ fields.input1(inputs.supplyId.id, inputs.supplyId.name, inputs.supplyId.title, selectedSupply.id) }}
                                    {{ fields.input3(inputs.supplyRef.id, inputs.supplyRef.name, inputs.supplyRef.title, selectedSupply.ref) }}
                                    {{ fields.input3(inputs.supplyName.id, inputs.supplyName.name, inputs.supplyName.title, selectedSupply.name) }}
                                    {{ fields.input2(inputs.supplyPvp.id, inputs.supplyPvp.name, inputs.supplyPvp.title, selectedSupply.pvp) }}
                                    {{ fields.input1(inputs.supplyCantity.id, inputs.supplyCantity.name, inputs.supplyCantity.title, selectedSupply.cantity) }}
                                    {{ fields.input2(inputs.supplyTotal.id, inputs.supplyTotal.name, inputs.supplyTotal.title, null) }}
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <table id="SuppliesTable" class="table">
                                            <tr>
                                                <th>Referencia</th>
                                                <th>Fabricante</th>
                                                <th>Nombre</th>
                                                <th>Stock</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>                    
                                            {% for supply in vehicle_supplies %}
                                                <tr>
                                                    <td>{{ supply.ref }}</td>
                                                    <td>{{ supply.mader }}</td>
                                                    <td>{{ supply.name }}</td>
                                                    <td>{{ supply.stock }}</td>
                                                    <td><a href="/Intranet/vehicles/vehicleSupplies/edit?supplyId={{supply.id}}&selectedTab=accesories&id={{ value.id }}">Edit</a></td>
                                                    <td><a href="/Intranet/vehicles/vehicleSupplies/delete?supplyId={{supply.id}}&selectedTab=accesories&id={{ value.id }}">Delete</a></td>
                                                </tr>
                                            {% endfor %}                
                                        </table>
                                    </div>
                                </div>       
                                <div class="form-row d-flex justify-content-end">
                                    <div class="col-md-2 ">
                                        <div class="form-group">
                                            <button type="button" onclick="addSupply();" class="btn btn-primary">Añadir</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    {{ fields.input2offset6(inputs.suppliesPrice.id, inputs.suppliesPrice.name, inputs.suppliesPrice.title, null) }}
                                    {{ fields.input2(inputs.suppliesTva.id, inputs.suppliesTva.name, inputs.suppliesTva.title, null) }}
                                    {{ fields.input2(inputs.suppliesTotal.id, inputs.suppliesTotal.name, inputs.suppliesTotal.title, null) }}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="equipment" role="tabpanel" aria-labelledby="equipment-tab">
                                <div class="form-row mt-3 ml-3 mb-3">
                                    {% for accesory in accesories %}
                                    <div class="form-check col-md-3 pl-3">                                    
                                        <input class="form-check-input" name="{{ accesory.name }}" type="checkbox" value="{{ accesory.keyString }}" id="{{accesory.keyString}}" {% for selected_accesory in selected_accesories %}{% if accesory.keyString in selected_accesory.keystring %} checked {% endif %}{% endfor %}>                                                  
                                        <label class="form-check-label" for="defaultCheck1">
                                          {{ accesory.name }}
                                        </label>                                
                                    </div>
                                    {% endfor %} 
                                </div>
                                <div class="form-row d-flex justify-content-end">
                                    <div class="col-md-2 ">
                                        <div class="form-group">
                                            <a href="/Intranet/vehicles/accesories/form" class="btn btn-primary">Añadir</a>  
                                        </div>
                                    </div>
                                </div>   
                            </div>
                            <div class="tab-pane fade" id="tecnicos" role="tabpanel" aria-labelledby="technics-tab">
                                <div class="form-row mt-3">
                                    {{ fields.input4(inputs.dataType.id, inputs.dataType.name, inputs.dataType.title, value.dataType) }}
                                    {{ fields.input4(inputs.variant.id, inputs.variant.name, inputs.variant.title, value.variant) }}
                                    {{ fields.input4(inputs.version.id, inputs.version.name, inputs.version.title, value.version) }}
                                </div>
                                <div class="form-row mt-3">
                                    {{ fields.inputRow(inputs.comercialName.id, inputs.comercialName.name, inputs.comercialName.title, value.comercialName) }}
                                </div>
                                <div class="form-row mt-3">
                                    {{ fields.input2(inputs.mma.id, inputs.mma.name, inputs.mma.title, value.mma) }}
                                    {{ fields.input2(inputs.mmaAxe1.id, inputs.mmaAxe1.name, inputs.mmaAxe1.title, value.mmaAxe1) }}
                                    {{ fields.input2(inputs.mmaAxe2.id, inputs.mmaAxe2.name, inputs.mmaAxe2.title, value.mmaAxe2) }}
                                    {{ fields.input2(inputs.mmac.id, inputs.mmac.name, inputs.mmac.title, value.mmac) }}
                                    {{ fields.input2(inputs.mmar.id, inputs.mmar.name, inputs.mmar.title, value.mmar) }}
                                    {{ fields.input2(inputs.mmarf.id, inputs.mmarf.name, inputs.mmarf.title, value.mmarf) }}
                                </div>
                                <div class="form-row mt-3">
                                    {{ fields.input2(inputs.mom.id, inputs.mom.name, inputs.mom.title, value.mom) }}
                                    {{ fields.input2(inputs.momAxe1.id, inputs.momAxe1.name, inputs.momAxe1.title, value.momAxe1) }}
                                    {{ fields.input2(inputs.momAxe2.id, inputs.momAxe2.name, inputs.momAxe2.title, value.momAxe2) }}
                                    {{ fields.input2(inputs.large.id, inputs.large.name, inputs.large.title, value.large) }}
                                    {{ fields.input2(inputs.width.id, inputs.width.name, inputs.width.title, value.width) }}
                                    {{ fields.input2(inputs.height.id, inputs.height.name, inputs.height.title, value.height) }}
                                </div>
                                <div class="form-row">
                                    {{ fields.input2(inputs.frontOverhang.id, inputs.frontOverhang.name, inputs.frontOverhang.title, value.frontOverhang) }}
                                    {{ fields.input2(inputs.rearOverhang.id, inputs.rearOverhang.name, inputs.rearOverhang.title, value.rearOverhang) }}
                                    {{ fields.input2(inputs.axeDistance.id, inputs.axeDistance.name, inputs.axeDistance.title, value.axeDistance) }}
                                    {{ fields.input2(inputs.chargeLength.id, inputs.chargeLength.name, inputs.chargeLength.title, value.chargeLength) }}
                                    {{ fields.input2(inputs.deposit.id, inputs.deposit.name, inputs.deposit.title, value.deposit) }}
                                    {{ fields.input2(inputs.initCharge.id, inputs.initCharge.name, inputs.initCharge.title, value.initCharge) }}
                                </div>                                        
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="form-row mt-2 mb-4">
                    {{ fields.buttonsForm(tab) }}
                </div>
            </form>
        </div>
    </div>
</div>                                       
<!-- Modal VEHICLE COMPONENTS  -->
<div class="modal fade" id="ComponentsModal" tabindex="-1" role="dialog" aria-labelledby="searchComponentsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="searchComponentsModalLabel">Componentes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form id="searchComponentsForm" action="/Intranet/vehicles/vehicleComponents/search" method="post" class="form">
                            <div class="container">
                                <div id="formRow" class="form-row text-right">
                                    <div class="col-11">                                                                                
                                        <input id="searchComponentField" type="text" name="searchComponentFilter" class="form-control mb-2 mr-sm-2" id="inlineFormSearchFilter" placeholder="Nombre / Cif / Telefono / email">
                                    </div>
                                    <div class="col-1">
                                        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                          
                <div class="row">
                    <div class="col">                            
                        <table id="componentsTable" class="table">
                            <tr>
                                <th>Referencia</th>
                                <th>Marca</th>
                                <th>Serial Number</th>                                    
                                <th>Nombre</th>                                    
                                <th>Pvp</th>                                    
                            </tr>                                
                            {% for component in components %}                                    
                                <tr id="datarow">
                                    <td>{{ component.ref }}</td>
                                    <td>{{ component.mader }}</td>
                                    <td>{{ component.serial_number }}</td>
                                    <td>{{ component.name }}</td>
                                    <td>{{ component.stock }}</td>
                                    <td>{{ component.pvp }}</td>                                        
                                    <td><a href="/Intranet/vehicles/vehicleComponents/select?componentId={{component.id}}&id={{value.id}}&selectedTab=accesories">Select</a></td>                                        
                                </tr>  
                            {% endfor %}                
                        </table>
                    </div>
                </div>                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>                  
            </div>
        </div>
    </div>
</div>
<!-- MODAL VEHICLE SUPPLIES -->
<div class="modal fade" id="SuppliesModal" tabindex="-1" role="dialog" aria-labelledby="searchSuppliesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="searchSupplyModalLabel">Recambios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form id="searchSuppliesForm" action="/Intranet/vehicles/vehicleSupplies/search" method="post" class="form">
                            <div class="container">
                                <div id="formRow" class="form-row text-right">
                                    <div class="col-11">                                                                                
                                        <input id="searchSupplyField" type="text" name="searchSuppliesFilter" class="form-control mb-2 mr-sm-2" id="inlineFormSearchFilter" placeholder="">
                                    </div>
                                    <div class="col-1">
                                        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                          
                <div class="row">
                    <div class="col">
                        <table id="suppliesTable" class="table">
                            <tr>
                                <th>Referencia</th>
                                <th>Marca</th>
                                <th>Ref. Fabricante</th>                                    
                                <th>Nombre</th>
                                <th>Stock</th>
                                <th>Pvp</th>                                    
                            </tr>                                
                            {% for supply in supplies %}                                    
                                <tr id="datarow">
                                    <td>{{ supply.ref }}</td>
                                    <td>{{ supply.mader }}</td>
                                    <td>{{ supply.mader_code }}</td>
                                    <td>{{ supply.name }}</td>
                                    <td>{{ supply.stock }}</td>
                                    <td>{{ supply.pvp }}</td>
                                    <td><a href="/Intranet/vehicles/vehicleSupplies/select?supplyId={{supply.id}}&id={{value.id}}&selectedTab=accesories">Select</a></td>                                        
                                </tr>  
                            {% endfor %}                
                        </table>
                    </div>
                </div>                    
            </div>                 
            <div class="modal-footer">                                               
                <button type="button" class="btn btn-primary ml-auto" data-dismiss="modal">Close</button>  
            </div>              
        </div>
    </div>
</div> 
{% endblock %}
