{% extends "menu.html.twig" %}
{% import 'macros.html.twig' as fields %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2> {{ title }} </h2>
            </div>   
            <div class="col-md-2 d-flex justify-content-end align-items-end">
                <a class="link " href="/Intranet/admin?selected_tab={{ tab }}">Volver</a> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for finance in finances %}
                        <tr>
                            <td>{{ finance.name }}</td>                            <
                            <td>{{ finance.phone }}</td>
                            <td>{{ finance.email }}</td>
                            <td><a href="/Intranet/finance/form?id={{finance.id}}">Edit</a></td>
                            <td><a href="/Intranet/finance/delete?id={{finance.id}}">Delete</a></td>
                        </tr>
                    {% endfor %}                
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <form id="addFinance" action="/Intranet/finance/form" method="get">
                    {{ fields.buttonsList(tab) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}