{% extends "menu.html.twig" %}
{% import 'macros.html.twig' as fields %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2> {{ title }} </h2>
            </div>   
            <div class="col-md-2 d-flex justify-content-end align-items-end">
                <a class="link " href="/Intranet/admin?selected_tab={{ tab }}">Volver</a> 
            </div>
        </div>
        <div class="row">
            {{ fields.searchList(search) }}
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for store in stores %}
                        <tr>
                            <td>{{ store.id }}</td>
                            <td>{{ store.name }}</td>
                            <td>{{ store.city }}</td>
                            <td>{{ store.phone }}</td>
                            <td>{{ store.email }}</td>
                            <td><a href="/Intranet/stores/form?id={{store.id}}">Edit</a></td>
                            <td><a href="/Intranet/stores/delete?id={{store.id}}">Delete</a></td>
                        </tr>
                    {% endfor %}                
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <form id="addStore" action="/Intranet/stores/form" method="get">
                    {{ fields.buttonsList(tab) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}