{% extends "menu.html.twig" %}
{% import 'macros.html.twig' as fields %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2> {{ title }} </h2>
        </div>   
        {{ fields.return(list, tab) }}       
    </div>
    <div class="row">
        {{ fields.alert(responseMessage) }}
    </div>
    <div class="row">
        <div class="col">
            <form id="{{formName}}" action="{{ save }}" method="post">
                <div class="form-row">
                    {{ fields.input2(inputs.id.id, inputs.id.name, inputs.id.title, value.id) }}                   
                </div>
                <div class="form-row">
                    {{ fields.input6(inputs.name.id, inputs.name.name, inputs.name.title, value.id) }}                    
                    {{ fields.input4(inputs.city.id, inputs.city.name, inputs.city.title, value.city) }}
                    {{ fields.input2(inputs.postalCode.id, inputs.postalCode.name, inputs.postalCode.title, value.postalCode) }}
                </div>   
                <div class="form-row">
                    {{ fields.input6(inputs.address.id, inputs.address.name, inputs.address.title, value.address) }}
                    {{ fields.input3(inputs.state.id, inputs.state.name, inputs.state.title, value.state) }} 
                    {{ fields.input3(inputs.country.id, inputs.country.name, inputs.country.title, value.country) }} 
                </div>
                <div class="form-row">
                    {{ fields.input4offset2(inputs.phone.id, inputs.phone.name, inputs.phone.title, value.phone) }}
                    {{ fields.input6(inputs.email.id, inputs.email.name, inputs.email.title, value.email) }}
                </div>                              
                <div class="form-row">
                    {{ fields.buttonsForm(tab) }}
                </div>
            </form>        
        </div>
    </div>
</div>
{% endblock %}