{% macro items_list_modal(modal_id, labels, main_labels, currencies, title, table_id, function, values) %}
<div class="modal" id="{{ modal_id }}" tabindex="-1" role="dialog">
       
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        
      <div class="modal-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table id="{{table_id}}" class="table-light table-listados table-bordered table-striped dataTable dtr-inline">
                        <thead>
                            <tr>
                                {% for item in labels %}
                                    <th>{{ main_labels[item] }}</th>
                                {% endfor %}
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>                        
                        {% for value in values %}                            
                            {% set modalTemp = [] %}
                            <tr> 
                                {% for item in labels %}
                                    <td>{% if item in currencies %} {{ attribute(value, item)|format_currency('EUR', locale='es') }}{% else %}{{ attribute(value, item)|e }}{% endif %}</td> 
                                    {% if (item == 'id' or (item == 'ref') or (item == 'reference') or (item == 'description') or (item == 'name') or (item == 'pvp'))%}
                                        {% set modalTemp = modalTemp|merge({(item) : attribute(value, item)}) %}
                                    {% endif %}
                                {% endfor %} 
                                
                                <td>
                                    <a id="editButton{{value.id}}" href="javascript:{{ function }}({{ modalTemp|json_encode() }});"><i class="fa fa-edit"Component|></i></a>                                    
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                {% for item in labels %}
                                    <th>{{ main_labels[item] }}</th>
                                {% endfor %}
                                <th>Acciones</th>                                        
                            </tr>
                        </tfoot>                                
                    </table>
                </div>
            </div>
        </div> 
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
{% endmacro items_list_modal %}
{% macro input_form_modal(parent_id, object_id, modal_id, title, labels, main_labels, currencies, form_id, function ) %}
<div class="modal" id="{{ modal_id }}" tabindex="-1" role="dialog">
      
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="modal-form" id="{{form_id}}" action="javascript:{{ function }};" method="post">
              <input type="hidden" id="{{object_id}}" name="{{object_id}}" class="form-control" value="">    
               <input type="hidden" id="{{parent_id}}" name="{{parent_id}}" class="form-control" value=""> 
          {% for item in labels %}
            <div class="row">
                <div class="input-group col-12">                                            
                    <label class="control-label" for="{{ item }}">{{ main_labels[item] }}</label>                                            
                    <input type="text" id="{{ item }}" name="{{ item }}" class="form-control" value="">
                </div>                            
            </div>
        {% endfor %}
            <div class="row">
                <div class="input-group col-12">                                            
                    <label class="control-label" for="cantity">Cantidad</label>                                            
                    <input type="text" id="cantity" name="cantity" class="form-control" value="">
                </div>                            
            </div>
            <div class="row">
                <div class="input-group col-12">                                            
                    <label class="control-label" for="total">Importe</label>                                            
                    <input type="text" id="total" name="total" class="form-control" value="">
                </div>                            
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" form="{{ form_id }}">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> 
{% endmacro input_form_modal %}

