{% extends "layout.html.twig" %}
{% block content %}
{% import 'macros.html.twig' as macros %}
{% set selects = {'bank_id':'bank_id','bank':'bank',
                        'account_id':'account_id','store_id':'store_id',
                        'access':'access','brand_id':'brand_id','type_id':'type_id',
                        'customer_id':'customer_id', 'seller_id':'seller_id',
                        'model_id':'model_id','providor_id':'providor_id',
                        'mader_id':'mader_id', 'taxes_id':'taxes_id', 
                        'paymentWay_id':'paymentWay_id', 'customerType':'customerType'} %}
{% set textareas = {'observations':'observations','vehicleComments':'vehicleComments','texts':'texts'} %}
{% set dates = {'birthDate':'birthDate','registryDate':'registryDate','sellDate':'sellDate','buyDate':'buyDate', 'arrival':'arrival','appointDate':'appointDate','offerDate':'offerDate'} %}
{% set currencies = {'pvd':'pvd','pvp':'pvp','cost':'cost','pvc':'pvc','vehiclePvp':'vehiclePvp', 'discount':'discount', 'vehicleDiscount':'vehicleDiscount','tva':'tva','total':'total','costTva':'costTva','costTotal':'costTotal','vehicleTva':'vehicleTva','vehicleTotal':'vehicleTotal'} %}
{% set checks = {'rebu':'rebu','secondKey':'secondKey'} %}
{% set hidden = {'vehicle_id':'vehicle_id'} %}
{% set sellOffers = {'plate':'plate','brand':'brand', 'model':'model'} %}
{% set assets = {'accesories':'accesories'} %}
{% set assets_labels = {'id':'id', 'ref':'ref','name':'name','pvp':'pvp'} %}
{% if titleForm == 'Vehículo' %}    
    {% set parent_id = 'vehicle_id' %}
    {% set object_id = {'1':'component_id', '2':'supply_id', '3':'work_id'} %}
    {% set functions = {'setComponent':'setComponent','saveComponent':'saveVehicleComponent()' 
                        ,'setSupply':'setSupply', 'saveSupply':'saveVehicleSupply()'
                        ,'setWork':'setComponent','saveWork':'saveVehicleWork()'} %}
    {% set titles = {'1':'vehicle_component_form','2':'vehicle_supply_form','3':'vehicle_works_form'} %}
{% else %}        
    {% set parent_id = 'selloffer_id' %}
    {% set object_id = {'1':'component_id','2':'supply_id','3':'work_id'} %}
    {% set functions = {'setComponent':'setComponent','saveComponent':'saveSellOfferComponent()' 
                        ,'setSupply':'setSupply', 'saveSupply':'saveSellOfferSupply()'
                        ,'setWork':'setWork','saveWork':'saveSellOfferWork()'} %}
    {% set titles = {'1':'selloffer_component_form','2':'selloffer_supply_form','3':'selloffer_work_form'} %}
{% endif %}
{{ macros.items_list_modal('components_modal', assets_labels, labels, currencies, 'Componentes', 'dataTableComponents',functions['setComponent'], optionsArray['components']) }}
{{ macros.input_form_modal(parent_id, object_id['1'], 'component_form_modal', 'Componente', assets_labels, labels, currencies, titles['1'], functions['saveComponent'])}}
{{ macros.items_list_modal('supplies_modal', assets_labels, labels, currencies, 'Recambios', 'dataTableSupplies',functions['setSupply'], optionsArray['supplies']) }}
{{ macros.input_form_modal(parent_id, object_id['2'], 'supply_form_modal', 'Recambio', assets_labels, labels, currencies, titles['2'], functions['saveSupply'])}}    
{{ macros.items_list_modal('works_modal', assets_labels, labels, currencies, 'Trabajos', 'dataTableWorks',functions['setWork'], optionsArray['works']) }}
{{ macros.input_form_modal(parent_id, object_id['3'], 'work_form_modal', 'Trabajo', assets_labels, labels, currencies, titles['3'], functions['saveWork'])}}

<div class="content-wrapper pb-5" style="min-height: 960px">
    <section class="content-header"><h2>{{ titleForm }}</h2></section>
    <section class="content ">
        <div class="volver-link">
            <span class="alert float-left">{{ responseMessage }}</span>
            <a class="btn btn-outline-primary float-right" href="Intranet/{{ route }}/list?menu={{ menuState }}&item={{ menuItem }}">Lista</a>            
        </div>
        <div class="container-fluid">
            <form class="form-horizontal " id="form{{ titleForm|replace({" ":"", "á":"a","à":"a","é":"e","è":"e","í":"i","ì":"i","ó":"o","ò":"o","ú":"u","ù":"u"}) }}" action="Intranet/{{ route }}/save" method="post">
                <div class="form-group col">
                    <input type="hidden" style="display:none;" id="menu" name="menu" value="{{ menuState }}">
                    <input type="hidden" style="display:none;" id="menuItem" name="menuItem" value="{{ menuItem }}">   
                    <input type="hidden" style="display:none;" id="vehicle_accesories" value="{{ optionsArray['vehicle_accesories']|json_encode() }}">
                    
                    <div class="input-group">
                        <input type="text" style="display:none;" id="id" name="id" value="{{ value.id }}">  
                    </div>                    
                    {% if 'data' in properties|keys %}
                        {% set tabs = properties|keys %}                        
                        <ul id="myTab" class="nav nav-tabs"> 
                            {% for tab in tabs %}
                                <li class="nav-item" role="presentation">                                        
                                    <button class="nav-link {% if (tab == selected_tab) %}{{ 'active' }}{% endif %}" id="{{ tab }}-tab" data-toggle="tab" data-target="#{{ tab }}-pane" type="button" role="tab" aria-controls="{{ tab }}-pane" aria-selected="{% if (tab == selected_tab) %}{{ 'true' }}{% else %}{{ 'false' }}{% endif %}">{{ labels[tab] }}</button>
                                </li>
                            {% endfor %}
                        </ul>                        
                        <div class="tab-content pt-4" id="nav-tabContent">                        
                        {% for tab in tabs %}
                            <div class="tab-pane fade {% if (tab == selected_tab)%}{{ 'show active' }}{% endif %}" id="{{tab}}-pane" role="tabpanel" aria-labelledby="{{tab}}-tab">
                            {% if tab == 'accesories' %}
                                <div class="row">
                                    <div class="col">
                                    {% for accesories_item in optionsArray[tab] %} 
                                        <div class="input-group">
                                            <label class="control-label" for="{{ accesories_item.id }}">{{ accesories_item.name }}</label>
                                            <input type="checkbox" id="{{ accesories_item.id }}" name="{{ accesories_item.id }}" class="form-control icheck-primary accesory_check" value="{{ accesories_item.keyString }}">                                        
                                        </div>
                                    {% endfor %}
                                    </div> 
                                </div>
                            {% endif %}
                            {% if tab == 'components' %}
                                {% if titleForm == 'Vehículo' %}
                                    {% set vehicle_components_labels = {'id':'id','mader':'mader','ref':'ref','name':'name','cantity':'cantity','pvp':'pvp','total':'total'} %}
                                    {% set component_functions = {'set':'setComponent', 'delete':'delVehicleComponent'} %}
                                    {% set url = "Intranet/vehicles/vehicleComponents/set" %}
                                    {% set data = { 'vehicle_id': value.id } %}
                                    {% set prices = {'1':'baseComponents','2':'Base Componentes','3':'tvaComponents','4':'Iva','5':'totalComponents', '6':'Total Componentes'} %}
                                    {{ macros.assetsDataTable("dataTableVehicleComponents_wrapper", "dataTableVehicleComponents", vehicle_components_labels, labels, optionsArray['vehicle_components'], currencies, component_functions['set'], component_functions['delete'], url, data, prices[1], prices[2], prices[3], prices[4], prices[5], prices[6], 'components_modal') }}
                                {% else %}
                                    {% set vehicle_components_labels = {'selloffercomponent_id':'selloffercomponent_id','mader':'mader','ref':'ref','name':'name','cantity':'cantity','pvp':'pvp','total':'total'} %}
                                    {% set component_functions = {'set':'setComponent', 'delete':'delSellOfferComponent'} %}
                                    {% set url = "Intranet/sales/offers/components/set" %}
                                    {% set data = { 'selloffer_id': value.id } %}
                                    {% set prices = {'1':'baseComponents','2':'Base Componentes','3':'tvaComponents','4':'Iva','5':'totalComponents', '6':'Total Componentes'} %}
                                    {{ macros.assetsDataTable("dataTableVehicleComponents_wrapper", "dataTableVehicleComponents", vehicle_components_labels, labels, optionsArray['vehicle_components'], currencies, component_functions['set'], component_functions['delete'], url, data, prices[1], prices[2], prices[3], prices[4], prices[5], prices[6], 'components_modal') }}
                                {% endif %}
                            {% endif %}
                            {% if tab == 'supplies' %} 
                                {% if titleForm == 'Vehículo' %}
                                    {% set vehicle_supplies_labels = {'id':'id','mader':'mader','ref':'ref','name':'name','cantity':'cantity','pvp':'pvp','total':'total'} %}
                                    {% set supply_functions = {'set':'setSupply', 'delete':'delVehicleSupply'} %}
                                    {% set url = "Intranet/vehicles/vehicleSupplies/set" %}
                                    {% set data = { 'vehicle_id': value.id } %}
                                    {% set prices = {'1':'baseSupplies','2':'Base Recambios','3':'tvaSupplies','4':'Iva','5':'totalSupplies', '6':'Total Recambios'} %}
                                    {{ macros.assetsDataTable("dataTableVehicleSupplies_wrapper", "dataTableVehicleSupplies", vehicle_supplies_labels, labels, optionsArray['vehicle_supplies'], currencies, supply_functions['set'], supply_functions['delete'], url, data, prices[1], prices[2], prices[3], prices[4], prices[5], prices[6], 'supplies_modal') }}
                                {% else %}
                                    {% set vehicle_supplies_labels = {'selloffersupply_id':'selloffersupply_id','mader':'mader','ref':'ref','name':'name','cantity':'cantity','pvp':'pvp','total':'total'} %}
                                    {% set supply_functions = {'set':'setSupply', 'delete':'delSellOfferSupply'} %}
                                    {% set url = "Intranet/sales/offers/supplies/set" %}
                                    {% set data = { 'selloffer_id': value.id } %}
                                    {% set prices = {'1':'baseSupplies','2':'Base Supplies','3':'tvaSupplies','4':'Iva','5':'totalSupplies', '6':'Total Supplies'} %}
                                    {{ macros.assetsDataTable("dataTableVehicleSupplies_wrapper", "dataTableVehicleSupplies", vehicle_supplies_labels, labels, optionsArray['vehicle_supplies'], currencies, supply_functions['set'], supply_functions['delete'], url, data, prices[1], prices[2], prices[3], prices[4], prices[5], prices[6], 'supplies_modal') }}
                                {% endif %}
                            {% endif %}
                            {% if tab == 'works' %} 
                                {% if titleForm == 'Vehículo' %}
                                    {% set vehicle_works_labels = {'id':'id', 'ref':'ref','name':'name','cantity':'cantity','pvp':'pvp','total':'total'} %}
                                    {% set work_functions = {'set':'setWork', 'delete':'delVehicleWork'} %}
                                    {% set url = "Intranet/vehicles/vehicleWorks/set" %}
                                    {% set data = { 'vehicle_id': value.id } %}
                                    {% set prices = {'1':'baseWorks','2':'Base Trabajos','3':'tvaWorks','4':'Iva','5':'totalWorks', '6':'Total Trabajos'} %}
                                    {{ macros.assetsDataTable("dataTableVehicleWorks_wrapper", "dataTableVehicleWorks", vehicle_works_labels, labels, optionsArray['vehicle_works'], currencies, work_functions['set'], work_functions['delete'], url, data, prices[1], prices[2], prices[3], prices[4], prices[5], prices[6], 'works_modal') }}
                                {% else %}
                                    {% set vehicle_works_labels = {'sellofferwork_id':'sellofferwork_id','ref':'ref','name':'name','cantity':'cantity','pvp':'pvp','total':'total'} %}
                                    {% set work_functions = {'set':'setWork', 'delete':'delSellOfferWork'} %}
                                    {% set url = "Intranet/sales/offers/works/set" %}
                                    {% set data = { 'selloffer_id': value.id } %}
                                    {% set prices = {'1':'baseWorks','2':'Base Trabajos','3':'tvaWorks','4':'Iva','5':'totalWorks', '6':'Total Trabajos'} %}
                                    {{ macros.assetsDataTable("dataTableVehicleWorks_wrapper", "dataTableVehicleWorks", vehicle_works_labels, labels, optionsArray['vehicle_works'], currencies, work_functions['set'], work_functions['delete'], url, data, prices[1], prices[2], prices[3], prices[4], prices[5], prices[6], 'works_modal') }}
                                {% endif %}                                
                            {% endif %}                                
                                {% for item in properties[tab] %}                                                                        
                                {% if item in selects %}                                       
                                    <div class="row">                                        
                                        <div class="input-group col-10">
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <select id="{{ item }}" name="{{ item }}" class="form-control select2" value="{{ attribute(value, item) }}">                                                
                                                {% if optionsArray[item] is not empty %}                                                    
                                                    {% for option in optionsArray[item] %}
                                                        {% if item == 'account_id' %}
                                                            <option value="{{ option['id'] }}" {% if option['id'] == attribute(value, item) %}{{ 'selected="true"' }}{% endif %}>{{ option['accountNumber'] }}</option>
                                                        {% elseif item == 'vehicle_id' %}
                                                            <option value="{{ option['id'] }}" {% if option['id'] == attribute(value, item) %}{{ 'selected="true"' }}{% endif %}>{{ option['plate'] }}</option>                                                        
                                                        {% else %}
                                                            <option data-select2-id="{{ option['id'] }}" value="{{ option['id'] }}" {% if option['id'] == attribute(value, item) %}{{ 'selected="true"' }}{% endif %}>{{ option['name'] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}                                                    
                                                    <option value="0">Sin datos</option>
                                                {% endif %}
                                            </select>        
                                        </div>                            
                                    </div>
                                {% elseif item in sellOffers %}                                    
                                    <div class="row">
                                        <div class="input-group col-10">
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <select id="{{ item }}" name="{{ item }}" class="form-control select2" value="">
                                                {% for option in optionsArray['vehicles'] %}
                                                    {% if item == 'plate' %}
                                                        <option km="{{ option['km'] }}" vin="{{ option['vin'] }}" price="{{ option['vehiclePvp'] }}" vehicle_brand="{{ option['brand_id'] }}" vehicle_model="{{ option['model_id'] }}" value="{{ option['id'] }}" >{{ option['plate'] }}</option>                                                        
                                                    {% elseif item == 'brand' %}
                                                        {% for brand_item in optionsArray['brands'] %}
                                                            <option value="{{ brand_item.id }}" {% if brand_item.id == option['brand_id'] %}{{ 'selected="true"' }}{%  endif %}>{{ brand_item.name }}</option>
                                                        {% endfor %}
                                                    {% elseif item == 'model' %}
                                                        <option value="{{ option['model_id'] }}" >{{ option['model'] }}</option>  
                                                    {% endif %}
                                                {% endfor %}

                                                <option value="0">Sin datos</option>
                                            </select>        
                                        </div>                            
                                    </div>                                                        
                                {% elseif item in hidden %}                                    
                                {% elseif item in textareas %}
                                    <div class="row">
                                        <div class="input-group col-10">
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <textarea type="text" id="{{ item }}" name="{{ item }}" class="form-control">{{ attribute(value, item) }}</textarea>
                                        </div>                            
                                    </div>
                                {% elseif item in dates %}                                    
                                    <div class="row">
                                        <div class="input-group col-10">                                            
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <input type="date" id="{{ item }}" name="{{ item }}" class="form-control" value="{{ attribute(value, item) }}">
                                        </div>                            
                                    </div>
                                {% elseif item in checks %}                                    
                                    <div class="row">
                                        <div class="input-group col-10">                                            
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <input type="checkbox" id="{{ item }}" name="{{ item }}" class=" form-control icheck-primary" {% if attribute(value,item) == 1 %} checked {% endif %} value="{{ attribute(value, item) }}">
                                        </div>                            
                                    </div>                                                              
                                {% else %}                                   
                                    <div class="row">
                                        <div class="input-group col-10">                                            
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>                                            
                                            <input type="text" id="{{ item }}" name="{{ item }}" class="form-control" value="{% if item in currencies %} {{ attribute(value, item)|format_currency('EUR') }}{% else %}{{ attribute(value, item)}}{% endif %}">
                                        </div>                            
                                    </div>
                                {% endif %}
                            {% endfor %} 
                            
                            </div>
                        {% endfor %} 
                        </div>
                    {% else %}
                        {% for property in properties %}
                            {% if property in selects %}                                
                                <div class="row">
                                    <div class="input-group col-10">
                                        <label class="control-label" for="{{ property }}">{{ labels[property] }}</label>
                                        <select id="{{ property }}" name="{{ property }}" class="form-control select2" value="{{ attribute(value, property) }}">                                        
                                        {% if optionsArray[property] %} 
                                            
                                            {% for option in optionsArray[property] %}
                                                
                                                {% if property == 'account_id' %}
                                                    <option value="{{ option['id'] }}" {% if option['id'] == attribute(value, property) %}{{ 'selected="true"' }}{% endif %}>{{ option['accountNumber'] }}</option>
                                                {% else %}
                                                    <option value="{{ option['id'] }}" {% if option['id'] == attribute(value, property) %}{{ 'selected="true"' }}{% endif %}>{{ option['name'] }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}                                            
                                            <option value="1">Sin datos</option>
                                        {% endif %}                                        
                                        </select>        
                                    </div>                            
                                </div>
                            {% elseif property in textareas %}
                                <div class="row">
                                    <div class="input-group col-10">
                                        <label class="control-label" for="{{ property }}">{{ labels[property] }}</label>
                                        <textarea type="text" id="{{ property }}" name="{{ property }}" class="form-control">{{ attribute(value, property) }}</textarea>
                                    </div>                            
                                </div>
                            {% elseif property in dates %}
                                <div class="row">
                                    <div class="input-group col-10">                                            
                                        <label class="control-label" for="{{ property }}">{{ labels[property] }}</label>
                                        <input type="date" id="{{ property }}" name="{{ property }}" class="form-control" value="{{ attribute(value, property) }}">
                                    </div>                            
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="input-group col-10">
                                        <label class="control-label" for="{{ property }}">{{ labels[property] }}</label>
                                        <input type="text" id="{{ property }}" name="{{ property }}" class="form-control" value="{% if property in currencies %} {{ attribute(value, property)|format_currency('EUR') }}{% else %}{{ attribute(value, property)|e }}{% endif %}">
                                    </div>                            
                                </div>
                            {% endif %}                                                    
                        {% endfor %}                    
                    {% endif %}                     
                    {% if value.id != null %}
                        <div class="button-wrapper float-left">
                            <a class="btn btn-primary" id="delete_button" href="Intranet/{{ route }}/delete?id={{ value.id }}&menu={{ menuState }}&item={{ menuItem }}">Eliminar</a>                            
                        </div> 
                    {% endif %}
                    <div class="button-wrapper float-right">
                        <button type="submit" form="form{{ titleForm|replace({" ":"", "á":"a","à":"a","é":"e","è":"e","í":"i","ì":"i","ó":"o","ò":"o","ú":"u","ù":"u"}) }}" class="btn btn-primary" id="submit">Guardar</button>
                        <button type="button" form="form{{ titleForm|replace({" ":"", "á":"a","à":"a","é":"e","è":"e","í":"i","ì":"i","ó":"o","ò":"o","ú":"u","ù":"u"}) }}" class="btn btn-primary" id="reset">Restablecer</button>
                    </div>
                </div>                
            </form>
        </div>
    </section>
</div>

{% endblock %}

