{% extends "layout.html.twig" %}
{% block content %}
{% import 'macros.html.twig' as macros %}
{% set selects = {'bank_id':'bank_id','bank':'bank',
                        'account_id':'account_id','store_id':'store_id',
                        'access':'access','brand_id':'brand_id','type_id':'type_id',
                        'customer_id':'customer_id', 'seller_id':'seller_id',
                        'model_id':'model_id','providor_id':'providor_id',
                        'mader_id':'mader_id', 'taxes_id':'taxes_id', 
                        'paymentWay_id':'paymentWay_id', 'customerType':'customerType'} %}
{% set textareas = {'vehicleComments':'vehicleComments', 'texts':'texts'} %}
{% set large_textareas = {'observations':'observations','text':'text', 'description':'description'} %}
{% set dates = {'birthDate':'birthDate','registryDate':'registryDate','sellDate':'sellDate','buyDate':'buyDate', 'arrival':'arrival','appointDate':'appointDate','offerDate':'offerDate'} %}
{% set datetimes = {'inDate':'inDate', 'outDate':'outDate'} %}
{% set currencies = {'pvd':'pvd','pvp':'pvp','cost':'cost','pvc':'pvc','vehiclePvp':'vehiclePvp', 'discount':'discount', 'vehicleDiscount':'vehicleDiscount','tva':'tva','total':'total','costTva':'costTva','costTotal':'costTotal','vehicleTva':'vehicleTva','vehicleTotal':'vehicleTotal'} %}
{% set checks = {'rebu':'rebu','secondKey':'secondKey'} %}
{% set hidden = {'vehicle_id':'vehicle_id'} %}
{% set garageOrders = {} %}
{% set orders = {'plate':'plate','brand':'brand', 'model':'model'} %}
{% set assets = {'accesories':'accesories'} %}
{{ macros.items_list_modal('components_modal', optionsArray['assets_labels'], labels, currencies, 'Componentes', 'dataTableComponents',optionsArray['modals_functions']['setComponent'], optionsArray['components']) }}
{{ macros.input_form_modal(optionsArray['parent_id'], optionsArray['object_id']['1'], 'component_form_modal', 'Componente', optionsArray['assets_labels'], labels, currencies, optionsArray['forms']['1'], optionsArray['modals_functions']['saveComponent'])}}
{{ macros.items_list_modal('supplies_modal', optionsArray['assets_labels'], labels, currencies, 'Recambios', 'dataTableSupplies', optionsArray['modals_functions']['setSupply'], optionsArray['supplies']) }}
{{ macros.input_form_modal(optionsArray['parent_id'], optionsArray['object_id']['2'], 'supply_form_modal', 'Recambio', optionsArray['assets_labels'], labels, currencies, optionsArray['forms']['2'], optionsArray['modals_functions']['saveSupply'])}}    
{{ macros.items_list_modal('works_modal', optionsArray['assets_labels'], labels, currencies, 'Trabajos', 'dataTableWorks',optionsArray['modals_functions']['setWork'], optionsArray['works']) }}
{{ macros.input_form_modal(optionsArray['parent_id'], optionsArray['object_id']['3'], 'work_form_modal', 'Trabajo', optionsArray['assets_labels'], labels, currencies, optionsArray['forms']['3'], optionsArray['modals_functions']['saveWork'])}}

<div class="content-wrapper pb-5" style="min-height: 960px">
    <section class="content-header"><h2>{{ titleForm }}</h2></section>
    <section class="content ">
        <div class="volver-link">
            <span class="alert float-left">{{ responseMessage }}</span>
            <a class="btn btn-outline-primary float-right" href="Intranet/{{ route }}/list?menu={{ menuState }}&item={{ menuItem }}">Lista</a>            
        </div>
        <div class="container-fluid">
            <form class="form-horizontal " id="form{{ titleForm|replace({" ":"", "á":"a","à":"a","é":"e","è":"e","í":"i","ì":"i","ó":"o","ò":"o","ú":"u","ù":"u"}) }}" action="Intranet/{{ route }}/save" method="post">
                <div class="form-group col">
                    <input type="hidden" style="display:none;" id="menu" name="menu" value="{{ menuState }}">
                    <input type="hidden" style="display:none;" id="menuItem" name="menuItem" value="{{ menuItem }}">   
                    <input type="hidden" style="display:none;" id="vehicle_accesories" value="{{ optionsArray['vehicle_accesories']|json_encode() }}">
                    
                    <div class="input-group">
                        <input type="text" style="display:none;" id="id" name="id" value="{{ value.id }}">  
                    </div>                    
                    {% if 'data' in properties|keys %}
                        {% set tabs = properties|keys %}                        
                        <ul id="myTab" class="nav nav-tabs"> 
                            {% for tab in tabs %}
                                <li class="nav-item" role="presentation">                                        
                                    <button class="nav-link {% if (tab == selected_tab) %}{{ 'active' }}{% endif %}" id="{{ tab }}-tab" data-toggle="tab" data-target="#{{ tab }}-pane" type="button" role="tab" aria-controls="{{ tab }}-pane" aria-selected="{% if (tab == selected_tab) %}{{ 'true' }}{% else %}{{ 'false' }}{% endif %}">{{ labels[tab] }}</button>
                                </li>
                            {% endfor %}
                        </ul>                        
                        <div class="tab-content pt-4" id="nav-tabContent">                        
                        {% for tab in tabs %}
                            <div class="tab-pane fade {% if (tab == selected_tab)%}{{ 'show active' }}{% endif %}" id="{{tab}}-pane" role="tabpanel" aria-labelledby="{{tab}}-tab">
                            {% if tab == 'accesories' %}
                                <div class="row">
                                    <div class="col">
                                    {% for accesories_item in optionsArray[tab] %} 
                                        <div class="input-group">
                                            <label class="control-label" for="{{ accesories_item.id }}">{{ accesories_item.name }}</label>
                                            <input type="checkbox" id="{{ accesories_item.id }}" name="{{ accesories_item.id }}" class="form-control icheck-primary accesory_check" value="{{ accesories_item.keyString }}">                                        
                                        </div>
                                    {% endfor %}
                                    </div> 
                                </div>
                            {% endif %}                            
                            {% if tab == 'components' %}
                                {% set prices = {'1':'baseComponents','2':'Base Componentes','3':'tvaComponents','4':'Iva','5':'totalComponents', '6':'Total Componentes'} %}
                                {% if titleForm == 'Vehículo' %}                                                                   
                                {% elseif titleForm == 'Oferta de Venta' %}                                    
                                    {% set data = { 'selloffer_id': value.id } %}                                   
                                {% elseif titleForm == 'Orden de Trabajo' %}
                                    {% set data = { 'garageOrder_id': value.id } %}                                    
                                {% endif %}
                                {{ macros.assetsDataTable("dataTableVehicleComponents_wrapper", "dataTableVehicleComponents", optionsArray['vehicle_component_labels'], labels, optionsArray['vehicle_components'], currencies, optionsArray['component_functions']['set'], optionsArray['component_functions']['delete'], setComponentsUrl, data, optionsArray['assets_prices'][1], optionsArray['assets_prices'][2], optionsArray['assets_prices'][3], optionsArray['assets_prices'][4], optionsArray['assets_prices'][5], optionsArray['assets_prices'][6], 'components_modal') }}
                            {% endif %}
                            {% if tab == 'supplies' %} 
                                {% set prices = {'1':'baseSupplies','2':'Base Recambios','3':'tvaSupplies','4':'Iva','5':'totalSupplies', '6':'Total Recambios'} %}
                                {% if titleForm == 'Vehículo' %}                                    
                                    {% set data = { 'vehicle_id': value.id } %}                                    
                                {% elseif titleForm == 'Oferta de Venta' %}                                    
                                    {% set data = { 'selloffer_id': value.id } %} 
                                {% elseif titleForm == 'Orden de Trabajo' %}
                                    {% set data = { 'garageOrder_id': value.id } %}                                    
                                {% endif %}                                
                                {{ macros.assetsDataTable("dataTableVehicleSupplies_wrapper", "dataTableVehicleSupplies", optionsArray['vehicle_supply_labels'], labels, optionsArray['vehicle_supplies'], currencies, optionsArray['supply_functions']['set'], optionsArray['supply_functions']['delete'], setSuppliesUrl, data, optionsArray['assets_prices'][7], optionsArray['assets_prices'][8], optionsArray['assets_prices'][9], optionsArray['assets_prices'][10], optionsArray['assets_prices'][11], optionsArray['assets_prices'][12], 'supplies_modal') }}
                            {% endif %}
                            {% if tab == 'works' %} 
                                {% if titleForm == 'Vehículo' %}                                    
                                    {% set data = { 'vehicle_id': value.id } %}                                    
                                {% elseif titleForm == 'Oferta de Venta' %}                                    
                                    {% set data = { 'selloffer_id': value.id } %}                                    
                                {% elseif titleForm == 'Orden de Trabajo' %}
                                    {% set data = { 'garageOrder_id': value.id } %}                                    
                                {% endif %}                                
                                {{ macros.assetsDataTable("dataTableVehicleWorks_wrapper", "dataTableVehicleWorks", optionsArray['vehicle_work_labels'], labels, optionsArray['vehicle_works'], currencies, optionsArray['work_functions']['set'], optionsArray['work_functions']['delete'], setWorksUrl, data, optionsArray['assets_prices'][13], optionsArray['assets_prices'][14], optionsArray['assets_prices'][15], optionsArray['assets_prices'][16], optionsArray['assets_prices'][17], optionsArray['assets_prices'][18], 'works_modal') }}                                
                            {% endif %}                                
                                {% for item in properties[tab] %}                                                                        
                                {% if item in selects %}
                                    
                                    <div class="row">                                        
                                        <div class="input-group col-10">
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <select id="{{ item }}" name="{{ item }}" class="form-control select2" value="{{ attribute(value, item) }}">                                                
                                                {% if optionsArray[item] is not empty %}                                                    
                                                    {% for option in optionsArray[item] %}
                                                        {% if item == 'account_id' %}
                                                            <option value="{{ option['id'] }}" {% if option['id'] == attribute(value, item) %}{{ 'selected="true"' }}{% endif %}>{{ option['accountNumber'] }}</option>
                                                        {% elseif item == 'vehicle_id' %}
                                                            <option value="{{ option['id'] }}" {% if option['id'] == attribute(value, item) %}{{ 'selected="true"' }}{% endif %}>{{ option['plate'] }}</option>                                                        
                                                        {% else %}
                                                            <option value="{{ option['id'] }}" {% if option['id'] == attribute(value, item) %}{{ 'selected="true"' }}{% endif %}>{{ option['name'] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}                                                    
                                                    <option value="0">Sin datos</option>
                                                {% endif %}
                                            </select>        
                                        </div>                            
                                    </div>
                                {% elseif item in orders %} 
                                    
                                    <div class="row">
                                        <div class="input-group col-10">
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <select id="{{ item }}" name="{{ item }}" class="form-control select2" value="">
                                                {% for option in optionsArray['vehicles'] %}                                                    
                                                    {% if item == 'plate' %}                                                        
                                                        <option km="{{ option['km'] }}" vin="{{ option['vin'] }}" price="{{ option['vehiclePvp'] }}" vehicle_brand="{{ option['brand_id'] }}" vehicle_model="{{ option['model_id'] }}" value="{{ option['id'] }}" >{{ option['plate'] }}</option>                                                        
                                                    {% elseif item == 'brand' %}
                                                        {% for brand_item in optionsArray['brands'] %}
                                                            <option value="{{ brand_item.id }}" {% if brand_item.id == option['brand_id'] %}{{ 'selected="true"' }}{%  endif %}>{{ brand_item.name }}</option>
                                                        {% endfor %}
                                                    {% elseif item == 'model' %}
                                                        <option value="{{ option['model_id'] }}" >{{ option['model'] }}</option>  
                                                    {% endif %}
                                                {% endfor %}

                                                <option value="0">Sin datos</option>
                                            </select>        
                                        </div>                            
                                    </div>                                                        
                                {% elseif item in hidden %}                                    
                                {% elseif item in textareas %}
                                    <div class="row">
                                        <div class="input-group col-10">
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <textarea type="text" id="{{ item }}" name="{{ item }}" class="form-control">{{ attribute(value, item) }}</textarea>
                                        </div>                            
                                    </div>
                                {% elseif item in large_textareas %}
                                    <div class="row">
                                        <div class="input-group col-10">
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <textarea type="text" id="{{ item }}" name="{{ item }}" rows="8" class="form-control">{{ attribute(value, item) }}</textarea>
                                        </div>                            
                                    </div>
                                {% elseif item in dates %}                                    
                                    <div class="row">
                                        <div class="input-group col-10">                                            
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <input type="date" id="{{ item }}" name="{{ item }}" class="form-control" value="{{ attribute(value, item) }}">
                                        </div>                            
                                    </div>
                                {% elseif item in datetimes %}
                                    <div class="row">
                                        <div class="input-group col-10 date" id="{{item}}" data-target-input="nearest">
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <input id="{{ item }}" name="{{ item }}" type="text" class="form-control datetimepicker-input" data-target="#{{ item }}" value="{{ attribute(value, item)|format_datetime('short', 'full', locale="es") }}    ">
                                            <div class="input-group-append" data-target="#{{ item }}" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                {% elseif item in checks %}                                    
                                    <div class="row">
                                        <div class="input-group col-10">                                            
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <input type="checkbox" id="{{ item }}" name="{{ item }}" class=" form-control icheck-primary" {% if attribute(value,item) == 1 %} checked {% endif %} value="{{ attribute(value, item) }}">
                                        </div>                            
                                    </div>                                                              
                                {% else %}                                   
                                    <div class="row">
                                        <div class="input-group col-10">                                            
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>                                            
                                            <input type="text" id="{{ item }}" name="{{ item }}" class="form-control" value="{% if item in currencies %} {{ attribute(value, item)|format_currency('EUR') }}{% else %}{{ attribute(value, item)}}{% endif %}">
                                        </div>                            
                                    </div>
                                {% endif %}
                            {% endfor %} 
                            
                            </div>
                        {% endfor %} 
                        </div>
                    {% else %}
                        {% for property in properties %}
                            {% if property in selects %}                                
                                <div class="row">
                                    <div class="input-group col-10">
                                        <label class="control-label" for="{{ property }}">{{ labels[property] }}</label>
                                        <select id="{{ property }}" name="{{ property }}" class="form-control select2" value="{{ attribute(value, property) }}">                                        
                                        {% if optionsArray[property] %} 
                                            
                                            {% for option in optionsArray[property] %}
                                                
                                                {% if property == 'account_id' %}
                                                    <option value="{{ option['id'] }}" {% if option['id'] == attribute(value, property) %}{{ 'selected="true"' }}{% endif %}>{{ option['accountNumber'] }}</option>
                                                {% else %}
                                                    <option value="{{ option['id'] }}" {% if option['id'] == attribute(value, property) %}{{ 'selected="true"' }}{% endif %}>{{ option['name'] }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}                                            
                                            <option value="1">Sin datos</option>
                                        {% endif %}                                        
                                        </select>        
                                    </div>                            
                                </div>
                            {% elseif property in textareas %}
                                <div class="row">
                                    <div class="input-group col-10">
                                        <label class="control-label" for="{{ property }}">{{ labels[property] }}</label>
                                        <textarea type="text" id="{{ property }}" name="{{ property }}" class="form-control">{{ attribute(value, property) }}</textarea>
                                    </div>                            
                                </div>
                            {% elseif property in dates %}
                                <div class="row">
                                    <div class="input-group col-10">                                            
                                        <label class="control-label" for="{{ property }}">{{ labels[property] }}</label>
                                        <input type="date" id="{{ property }}" name="{{ property }}" class="form-control" value="{{ attribute(value, property) }}">
                                    </div>                            
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="input-group col-10">
                                        <label class="control-label" for="{{ property }}">{{ labels[property] }}</label>
                                        <input type="text" id="{{ property }}" name="{{ property }}" class="form-control" value="{% if property in currencies %} {{ attribute(value, property)|format_currency('EUR') }}{% else %}{{ attribute(value, property)|e }}{% endif %}">
                                    </div>                            
                                </div>
                            {% endif %}                                                    
                        {% endfor %}                    
                    {% endif %}                     
                    {% if value.id != null %}
                        <div class="button-wrapper float-left">
                            <a class="btn btn-primary" id="delete_button" href="Intranet/{{ route }}/delete?id={{ value.id }}&menu={{ menuState }}&item={{ menuItem }}">Eliminar</a>                            
                        </div> 
                    {% endif %}
                    <div class="button-wrapper float-right">
                        <button type="submit" form="form{{ titleForm|replace({" ":"", "á":"a","à":"a","é":"e","è":"e","í":"i","ì":"i","ó":"o","ò":"o","ú":"u","ù":"u"}) }}" class="btn btn-primary" id="submit">Guardar</button>
                        <button type="button" form="form{{ titleForm|replace({" ":"", "á":"a","à":"a","é":"e","è":"e","í":"i","ì":"i","ó":"o","ò":"o","ú":"u","ù":"u"}) }}" class="btn btn-primary" id="reset">Restablecer</button>
                    </div>
                </div>                
            </form>
        </div>
    </section>
</div>

{% endblock %}

