{% extends "layout.html.twig" %}
{% block content %}
    
<div class="content-wrapper pb-5" style="min-height: 960px">
    <section class="content-header"><h2>{{ titleForm }}</h2></section>
    <section class="content ">
        <div class="volver-link">
            <span class="alert float-left">{{ responseMessage }}</span>
            <a class="btn btn-outline-primary float-right" href="Intranet/{{ route }}/list?menu={{ menuState }}&item={{ menuItem }}">Lista</a>            
        </div>
        <div class="container-fluid">
            <form class="form-horizontal " id="form{{ titleForm|replace({" ":"", "á":"a","à":"a","é":"e","è":"e","í":"i","ì":"i","ó":"o","ò":"o","ú":"u","ù":"u"}) }}" action="Intranet/{{ route }}/save" method="post">
                <div class="form-group col">
                    <input type="hidden" style="display:none;" id="menu" name="menu" value="{{ menuState }}">
                    <input type="hidden" style="display:none;" id="menuItem" name="menuItem" value="{{ menuItem }}">   
                    <input type="hidden" style="display:none;" id="vehicle_accesories" value="{{ optionsArray['vehicle_accesories']|json_encode() }}">
                    {% set selects = {'bank_id':'bank_id','bank':'bank',
                        'account_id':'account_id','store_id':'store_id',
                        'access':'access','brand_id':'brand_id','type_id':'type_id',
                        'customer_id':'customer_id', 'seller_id':'seller_id',
                        'model_id':'model_id','providor_id':'providor_id',
                        'mader_id':'mader_id'} %}
                    {% set textareas = {'observations':'observations'} %}
                    {% set dates = {'registryDate':'registryDate','sellDate':'sellDate','buyDate':'buyDate', 'arrival':'arrival','appointDate':'appointDate'} %}
                    {% set currencies = {'pvd':'pvd','pvp':'pvp','cost':'cost','pvc':'pvc'} %}
                    {% set checks = {'rebu':'rebu','secondKey':'secondKey'} %}
                    {% set assets = {'accesories':'accesories'} %}
                    <div class="input-group">
                        <input type="text" style="display:none;" id="id" name="id" value="{{ value.id }}">  
                    </div>                    
                    {% if 'data' in properties|keys %}
                        {% set tabs = properties|keys %}                        
                        <ul id="myTab" class="nav nav-tabs"> 
                            {% for tab in tabs %}
                                <li class="nav-item" role="presentation">                                        
                                    <button class="nav-link {% if (tab == selected_tab) %}{{ 'active' }}{% endif %}" id="{{ tab }}-tab" data-toggle="tab" data-target="#{{ tab }}-pane" type="button" role="tab" aria-controls="{{ tab }}-pane" aria-selected="{% if (tab == selected_tab) %}{{ 'true' }}{% else %}{{ 'false' }}{% endif %}">{{ labels[tab] }}</button>
                                </li>
                            {% endfor %}
                        </ul>                        
                        <div class="tab-content pt-4" id="nav-tabContent">                        
                        {% for tab in tabs %}                           
                            
                            <div class="tab-pane fade {% if (tab == selected_tab)%}{{ 'show active' }}{% endif %}" id="{{tab}}-pane" role="tabpanel" aria-labelledby="{{tab}}-tab">
                            {% if tab == 'accesories' %}
                                <div class="row">
                                    <div class="col">
                                    {% for accesories_item in optionsArray[tab] %} 
                                        <div class="input-group">
                                            <label class="control-label" for="{{ accesories_item.id }}">{{ accesories_item.name }}</label>
                                            <input type="checkbox" id="{{ accesories_item.id }}" name="{{ accesories_item.id }}" class="form-control icheck-primary accesory_check" value="{{ accesories_item.keyString }}">                                        
                                        </div>
                                    {% endfor %}
                                    </div> 
                                </div>
                            
                            {% endif %}
                            {% if tab == 'components' %} 
                                {% set vehicle_components_labels = {'id':'id','mader':'mader','ref':'ref','name':'name','cantity':'cantity','pvp':'pvp','total':'total'} %}
                                <div id="dataTableVehicleComponents_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="dataTableVehicleComponents" class="table-light table-listados table-bordered table-striped dataTable dtr-inline">
                                                <thead>
                                                    <tr>
                                                        {% for item in vehicle_components_labels %}
                                                            <th>{{ labels[item] }}</th>
                                                        {% endfor %}
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>                                    
                                                {% for value in optionsArray['vehicle_components'] %}
                                                    
                                                    <tr>
                                                        {% for item in vehicle_components_labels %}
                                                            {% if item == 'total' %}
                                                                {% set total = value.cantity * value.pvp %}
                                                                    <td>{{ total|format_currency('EUR', locale='es') }}</td> 
                                                            {% else %}
                                                                <td>{% if item in currencies %} {{ attribute(value, item)|format_currency('EUR', locale='es') }}{% else %}{{ attribute(value, item)|e }}{% endif %}</td> 
                                                            {% endif %}
                                                        {% endfor %}
                                                        <td>
                                                            <a id="addButton{{value.id}}" href="javascript:setVehicleComponent({{ value|json_encode() }});"><i class="fa fa-edit"></i></a>
                                                            <a id="delButton{{value.id}}" href="javascript:delVehicleComponent({{ value|json_encode() }});"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        {% for item in vehicle_components_labels %}
                                                            <th>{{ labels[item] }}</th>
                                                        {% endfor %}
                                                        <th>Acciones</th>                                        
                                                    </tr>
                                                </tfoot>                                
                                            </table>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="button-wrapper float-left">
                                    <button type="button" data-toggle="modal" data-target="#components_modal" class="btn btn-primary" id="addComponent">Añadir</button>                                   
                                </div>
                            {% endif %}
                            {% if tab == 'supplies' %} 
                                {% set vehicle_supplies_labels = {'id':'id','mader':'mader','ref':'ref','name':'name','cantity':'cantity','pvp':'pvp','total':'total'} %}
                                <div id="dataTableVehicleSupplies_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="dataTableVehicleSupplies" class="table-light table-listados table-bordered table-striped dataTable dtr-inline">
                                                <thead>
                                                    <tr>
                                                        {% for item in vehicle_supplies_labels %}
                                                            <th>{{ labels[item] }}</th>
                                                        {% endfor %}
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>                                    
                                                {% for value in optionsArray['vehicle_supplies'] %}
                                                    <tr>
                                                        {% for item in vehicle_supplies_labels %}
                                                            {% if item == 'total' %}
                                                                {% set total = value.cantity * value.pvp %}
                                                                <td>{{ total|format_currency('EUR', locale='es') }}</td> 
                                                            {% else %}
                                                                <td>{% if item in currencies %} {{ attribute(value, item)|format_currency('EUR', locale='es') }}{% else %}{{ attribute(value, item)|e }}{% endif %}</td> 
                                                            {% endif %}
                                                        {% endfor %}
                                                        <td>
                                                            
                                                            <a id="addButton{{value.id}}" href="javascript:setVehicleSupply({{ value|json_encode() }});"><i class="fa fa-edit"></i></a>
                                                            <a id="delButton{{value.id}}" href="javascript:delVehicleSupply({{ value|json_encode() }});"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        {% for item in vehicle_supplies_labels %}
                                                            <th>{{ labels[item] }}</th>
                                                        {% endfor %}
                                                        <th>Acciones</th>                                        
                                                    </tr>
                                                </tfoot>                                
                                            </table>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="button-wrapper float-left">
                                    <button type="button" data-toggle="modal" data-target="#supplies_modal" class="btn btn-primary" id="addSupply">Añadir</button>                                   
                                </div>
                            {% endif %}
                            {% if tab == 'works' %} 
                                {% set vehicle_works_labels = {'id':'id','reference':'reference','description':'description','cantity':'cantity','pvp':'pvp','total':'total'} %}
                                <div id="dataTableVehicleWorks_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="dataTableVehicleWorks" class="table-light table-listados table-bordered table-striped dataTable dtr-inline">
                                                <thead>
                                                    <tr>
                                                        {% for item in vehicle_works_labels %}
                                                            <th>{{ labels[item] }}</th>
                                                        {% endfor %}
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>                                    
                                                {% for value in optionsArray['vehicle_works'] %}
                                                    <tr>
                                                        {% for item in vehicle_works_labels %}
                                                            {% if item == 'total' %}
                                                                {% set total = value.cantity * value.pvp %}
                                                                <td>{{ total|format_currency('EUR', locale='es') }}</td> 
                                                            {% else %}
                                                                <td>{% if item in currencies %} {{ attribute(value, item)|format_currency('EUR', locale='es') }}{% else %}{{ attribute(value, item)|e }}{% endif %}</td> 
                                                            {% endif %}
                                                        {% endfor %}
                                                        <td>
                                                            <a id="addButton{{value.id}}" href="javascript:setVehicleWorks({{ value|json_encode() }});"><i class="fa fa-edit"></i></a>
                                                            <a id="delButton{{value.id}}" href="javascript:delVehicleWorks({{ value|json_encode() }});"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        {% for item in vehicle_works_labels %}
                                                            <th>{{ labels[item] }}</th>
                                                        {% endfor %}
                                                        <th>Acciones</th>                                        
                                                    </tr>
                                                </tfoot>                                
                                            </table>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="button-wrapper float-left">
                                    <button type="button" data-toggle="modal" data-target="#works_modal" class="btn btn-primary" id="addSupply">Añadir</button>                                   
                                </div>
                            {% endif %}
                                {% for item in properties[tab] %}
                                {% if item in selects %}                                     
                                    <div class="row">
                                        <div class="input-group col-10">
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <select id="{{ item }}" name="{{ item }}" class="form-control select2" value="{{ attribute(value, item) }}">                                                
                                                {% if optionsArray[item] is not empty %}                                                    
                                                    {% for option in optionsArray[item] %}
                                                        {% if item == 'account_id' %}
                                                            <option value="{{ option['id'] }}">{{ option['accountNumber'] }}</option>
                                                        {% else %}
                                                            <option value="{{ option['id'] }}">{{ option['name'] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}                                                    
                                                    <option value="1">Sin datos</option>
                                                {% endif %}
                                            </select>        
                                        </div>                            
                                    </div>
                                {% elseif item in textareas %}
                                    <div class="row">
                                        <div class="input-group col-10">
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <textarea type="text" id="{{ item }}" name="{{ item }}" class="form-control">{{ attribute(value, item) }}</textarea>
                                        </div>                            
                                    </div>
                                {% elseif item in dates %}
                                    
                                    <div class="row">
                                        <div class="input-group col-10">                                            
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <input type="date" id="{{ item }}" name="{{ item }}" class="form-control" value="{{ attribute(value, item) }}">
                                        </div>                            
                                    </div>
                                {% elseif item in checks %}                                    
                                    <div class="row">
                                        <div class="input-group col-10">                                            
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>
                                            <input type="checkbox" id="{{ item }}" name="{{ item }}" class=" form-control icheck-primary" {% if attribute(value,item) == 1 %} checked {% endif %} value="{{ attribute(value, item) }}">
                                        </div>                            
                                    </div>                                                              
                                {% else %}
                                    <div class="row">
                                        <div class="input-group col-10">                                            
                                            <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>                                            
                                            <input type="text" id="{{ item }}" name="{{ item }}" class="form-control" value="{% if item in currencies %} {{ attribute(value, item)|format_currency('EUR') }}{% else %}{{ attribute(value, item)}}{% endif %}">
                                        </div>                            
                                    </div>
                                {% endif %}
                            {% endfor %} 
                            
                            </div>
                        {% endfor %} 
                        </div>
                    {% else %}
                        {% for property in properties %}
                            {% if property in selects %}                                
                                <div class="row">
                                    <div class="input-group col-10">
                                        <label class="control-label" for="{{ property }}">{{ labels[property] }}</label>
                                        <select id="{{ property }}" name="{{ property }}" class="form-control select2" value="{{ attribute(value, property) }}">                                        
                                        {% if optionsArray[property] %}                                            
                                            {% for option in optionsArray[property] %}
                                                {% if property == 'account_id' %}
                                                    <option value="{{ option['id'] }}">{{ option['accountNumber'] }}</option>
                                                {% else %}
                                                    <option value="{{ option['id'] }}">{{ option['name'] }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}                                            
                                            <option value="1">Sin datos</option>
                                        {% endif %}                                        
                                        </select>        
                                    </div>                            
                                </div>
                            {% elseif property in textareas %}
                                <div class="row">
                                    <div class="input-group col-10">
                                        <label class="control-label" for="{{ property }}">{{ labels[property] }}</label>
                                        <textarea type="text" id="{{ property }}" name="{{ property }}" class="form-control">{{ attribute(value, property) }}</textarea>
                                    </div>                            
                                </div>
                            {% elseif property in dates %}
                                <div class="row">
                                    <div class="input-group col-10">                                            
                                        <label class="control-label" for="{{ property }}">{{ labels[property] }}</label>
                                        <input type="date" id="{{ property }}" name="{{ property }}" class="form-control" value="{{ attribute(value, property) }}">
                                    </div>                            
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="input-group col-10">
                                        <label class="control-label" for="{{ property }}">{{ labels[property] }}</label>
                                        <input type="text" id="{{ property }}" name="{{ property }}" class="form-control" value="{% if property in currencies %} {{ attribute(value, property)|format_currency('EUR') }}{% else %}{{ attribute(value, property)|e }}{% endif %}">
                                    </div>                            
                                </div>
                            {% endif %}                                                    
                        {% endfor %}                    
                    {% endif %}        
                    {% if value.id != null %}
                        <div class="button-wrapper float-left">
                            <a class="btn btn-primary" id="delete_button" href="Intranet/{{ route }}/delete?id={{ value.id }}&menu={{ menuState }}&item={{ menuItem }}">Eliminar</a>                            
                        </div> 
                    {% endif %}
                    <div class="button-wrapper float-right">
                        <button type="submit" form="form{{ titleForm|replace({" ":"", "á":"a","à":"a","é":"e","è":"e","í":"i","ì":"i","ó":"o","ò":"o","ú":"u","ù":"u"}) }}" class="btn btn-primary" id="submit">Guardar</button>
                        <button type="button" form="form{{ titleForm|replace({" ":"", "á":"a","à":"a","é":"e","è":"e","í":"i","ì":"i","ó":"o","ò":"o","ú":"u","ù":"u"}) }}" class="btn btn-primary" id="reset">Restablecer</button>
                    </div>
                </div>                
            </form>
        </div>
    </section>
</div>
<div class="modal" id="components_modal" tabindex="-1" role="dialog">
{% set components_labels = {'id':'id','ref':'ref','name':'name','pvp':'pvp'} %}        
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Componentes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        
      <div class="modal-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table id="dataTableComponents" class="table-light table-listados table-bordered table-striped dataTable dtr-inline">
                        <thead>
                            <tr>
                                {% for item in components_labels %}
                                    <th>{{ labels[item] }}</th>
                                {% endfor %}
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>  
                        
                        {% for value in optionsArray['components'] %}
                            {% set modalComponent = [] %}
                            <tr> 
                                {% for item in components_labels %}
                                    <td>{% if item in currencies %} {{ attribute(value, item)|format_currency('EUR', locale='es') }}{% else %}{{ attribute(value, item)|e }}{% endif %}</td> 
                                    {% if (item == 'id' or (item == 'ref') or (item == 'name') or (item == 'pvp'))%}
                                        {% set modalComponent = modalComponent|merge([attribute(value, item)]) %}
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    <a id="editButton{{value.id}}" href="javascript:setVehicleComponent({{ modalComponent|json_encode() }});"><i class="fa fa-edit"></i></a>                                    
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                {% for item in components_labels %}
                                    <th>{{ labels[item] }}</th>
                                {% endfor %}
                                <th>Acciones</th>                                        
                            </tr>
                        </tfoot>                                
                    </table>
                </div>
            </div>
        </div> 
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<div class="modal" id="supplies_modal" tabindex="-1" role="dialog">
{% set supplies_labels = {'id':'id','ref':'ref','name':'name','pvp':'pvp'} %}        
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recambios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        
      <div class="modal-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table id="dataTableSupplies" class="table-light table-listados table-bordered table-striped dataTable dtr-inline">
                        <thead>
                            <tr>
                                {% for item in supplies_labels %}
                                    <th>{{ labels[item] }}</th>
                                {% endfor %}
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>  
                        
                        {% for value in optionsArray['supplies'] %}
                            {% set modalSupply = [] %}
                            <tr> 
                                {% for item in supplies_labels %}
                                    <td>{% if item in currencies %} {{ attribute(value, item)|format_currency('EUR', locale='es') }}{% else %}{{ attribute(value, item)|e }}{% endif %}</td> 
                                    {% if (item == 'id' or (item == 'ref') or (item == 'name') or (item == 'pvp'))%}
                                        {% set modalSupply = modalSupply|merge([attribute(value, item)]) %}
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    <a id="editButton{{value.id}}" href="javascript:setVehicleSupply({{ modalSupply|json_encode() }});"><i class="fa fa-edit"></i></a>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                {% for item in supplies_labels %}
                                    <th>{{ labels[item] }}</th>
                                {% endfor %}
                                <th>Acciones</th>                                        
                            </tr>
                        </tfoot>                                
                    </table>
                </div>
            </div>
        </div> 
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<div class="modal" id="works_modal" tabindex="-1" role="dialog">
{% set works_labels = {'id':'id','reference':'reference','description':'description','pvp':'pvp'} %}        
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Trabajos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>        
      <div class="modal-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table id="dataTableWorks" class="table-light table-listados table-bordered table-striped dataTable dtr-inline">
                        <thead>
                            <tr>
                                {% for item in works_labels %}
                                    <th>{{ labels[item] }}</th>
                                {% endfor %}
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>                        
                        {% for value in optionsArray['works'] %}
                            {% set modalWork = [] %}
                            <tr> 
                                {% for item in works_labels %}
                                    <td>{% if item in currencies %} {{ attribute(value, item)|format_currency('EUR', locale='es') }}{% else %}{{ attribute(value, item)|e }}{% endif %}</td> 
                                    {% if (item == 'id' or (item == 'reference') or (item == 'description') or (item == 'pvp'))%}
                                        {% set modalWork = modalWork|merge([attribute(value, item)]) %}
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    <a id="editButton{{value.id}}" href="javascript:setVehicleWork({{ modalWork|json_encode() }});"><i class="fa fa-edit"></i></a>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                {% for item in works_labels %}
                                    <th>{{ labels[item] }}</th>
                                {% endfor %}
                                <th>Acciones</th>                                        
                            </tr>
                        </tfoot>                                
                    </table>
                </div>
            </div>
        </div> 
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<div class="modal" id="components_form_modal" tabindex="-1" role="dialog">
{% set component_form_labels = {'id':'id','ref':'ref','name':'name','pvp':'pvp'} %}        
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Componente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="modal-form" id="vehicle_component_form" action="javascript:saveVehicleComponent();" method="post">
              <input type="hidden" id="vehicle_id" name="vehicle_id" class="form-control" value="">    
          {% for item in component_form_labels %}
            <div class="row">
                <div class="input-group col-12">                                            
                    <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>                                            
                    <input type="text" id="{{ item }}" name="{{ item }}" class="form-control" value="">
                </div>                            
            </div>
        {% endfor %}
            <div class="row">
                <div class="input-group col-12">                                            
                    <label class="control-label" for="cantity">Cantidad</label>                                            
                    <input type="text" id="cantity" name="cantity" class="form-control" value="">
                </div>                            
            </div>
            <div class="row">
                <div class="input-group col-12">                                            
                    <label class="control-label" for="total">Importe</label>                                            
                    <input type="text" id="total" name="total" class="form-control" value="">
                </div>                            
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" form="vehicle_component_form">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> 
<div class="modal" id="supplies_form_modal" tabindex="-1" role="dialog">
{% set supply_form_labels = {'id':'id','ref':'ref','name':'name','pvp':'pvp'} %}        
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recambio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="modal-form" id="vehicle_supply_form" action="javascript:saveVehicleSupply();" method="post">
              <input type="hidden" id="vehicle_id" name="vehicle_id" class="form-control" value="">    
          {% for item in supply_form_labels %}
            <div class="row">
                <div class="input-group col-12">                                            
                    <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>                                            
                    <input type="text" id="{{ item }}" name="{{ item }}" class="form-control" value="">
                </div>                            
            </div>
        {% endfor %}
            <div class="row">
                <div class="input-group col-12">                                            
                    <label class="control-label" for="cantity">Cantidad</label>                                            
                    <input type="text" id="cantity" name="cantity" class="form-control" value="">
                </div>                            
            </div>
            <div class="row">
                <div class="input-group col-12">                                            
                    <label class="control-label" for="total">Importe</label>                                            
                    <input type="text" id="total" name="total" class="form-control" value="">
                </div>                            
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" form="vehicle_supply_form">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> 
<div class="modal" id="works_form_modal" tabindex="-1" role="dialog">
{% set work_form_labels = {'id':'id','reference':'reference','description':'description','pvp':'pvp'} %}        
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Trabajo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="modal-form" id="vehicle_work_form" action="javascript:saveVehicleWork();" method="post">
              <input type="hidden" id="vehicle_id" name="vehicle_id" class="form-control" value="">    
          {% for item in work_form_labels %}
            <div class="row">
                <div class="input-group col-12">                                            
                    <label class="control-label" for="{{ item }}">{{ labels[item] }}</label>                                            
                    <input type="text" id="{{ item }}" name="{{ item }}" class="form-control" value="">
                </div>                            
            </div>
        {% endfor %}
            <div class="row">
                <div class="input-group col-12">                                            
                    <label class="control-label" for="cantity">Cantidad</label>                                            
                    <input type="text" id="cantity" name="cantity" class="form-control" value="">
                </div>                            
            </div>
            <div class="row">
                <div class="input-group col-12">                                            
                    <label class="control-label" for="total">Importe</label>                                            
                    <input type="text" id="total" name="total" class="form-control" value="">
                </div>                            
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" form="vehicle_work_form">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
            
{% endblock %}

