{% extends "menu.html.twig" %}
{% import 'macros.html.twig' as fields %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2> {{ title }} </h2>
        </div>   
        {{ fields.return(list,tab) }}        
    </div>
    <div class="row">
        {{ fields.alert(responseMessage) }}
    </div>
    <div class="row">
        <div class="col">
            <form id="{{formName}}" action="{{ save }}" method="post">
                <div class="form-row">
                    {{ fields.input2(inputs.id.id, inputs.id.name, inputs.id.title, value.id) }}
                    {{ fields.input8(inputs.name.id, inputs.name.name, inputs.name.title, value.name) }}                    
                </div>                             
                <div class="form-row">
                    {{ fields.buttonsForm(tab) }}
                </div>
            </form>
        </div>
    </div>
</div>    
{% endblock %}

