{% extends "layout.html.twig" %}
{% block content %}
    <div class="content-wrapper pb-2" style="min-height: 960px">
        <section class="content-header"><h2>Empresas</h2></section>
        <section class="content">
            <div class="card-body">
                <form action="Intranet/company/form" method="post">
                    <div class="form-group">
                        <button class="btn btn-info" type="submit" id="newCompanyButton">Nueva</button>
                    </div>
                </form> 
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="dataTableCompanies" class="table-light table-listados table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Ciudad</th>
                                        <th>Teléfono</th>
                                        <th>Email</th>                                        
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>                                    
                                {% for company in companies %}
                                    <tr>
                                        <td>{{ company.id }}</td>
                                        <td>{{ company.name }}</td>
                                        <td>{{ company.city }}</td>
                                        <td>{{ company.phone }}</td>
                                        <td>{{ company.email }}</td>
                                        <td>
                                            <a href="Intranet/company/form?id={{ company.id }}"><i class="fa fa-edit"></i></a>
                                            <a href="Intranet/company/delete?id={{ company.id }}"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Ciudad</th>
                                        <th>Teléfono</th>
                                        <th>Email</th>
                                        <th>Acciones</th>                                        
                                    </tr>
                                </tfoot>                                
                            </table>
                        </div>
                    </div>
                </div>
                                                   
            </div>                         
        </section>
    </div>
{% endblock %}
