{% extends "dashboard.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2> Company </h2>
            </div>   
            <div class="col-md-2 d-flex justify-content-end align-items-end">
                <a class="link " href="/admin">Volver</a> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form id="searchForm" action="/company/search" method="post" class="form">
                    <div class="container">
                        <div id="formRow" class="form-row text-right">
                            <div class="col-11">                                                                                
                                <input id="searchField" type="text" name="searchFilter" class="form-control mb-2 mr-sm-2" id="inlineFormSearchFilter" placeholder="Nombre / Cif / Telefono / email">
                            </div>
                            <div class="col-1">
                                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table id="companyTable" class="table">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Población</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for comp in company %}
                        <tr>
                            <td>{{ comp.id }}</td>
                            <td>{{ comp.name }}</td>
                            <td>{{ comp.city }}</td>
                            <td>{{ comp.phone }}</td>
                            <td>{{ comp.email }}</td>
<<<<<<< HEAD:views/company/companyList.html.twig
                            <td><a href="/company/form?id={{comp.id}}">Edit</td>
                            <td><a href="/company/delete?id={{comp.id}}">Delete</td>
=======
                            <td><a id="edit" href="/intranet/company/form?id={{comp.id}}">Edit</td>
                            <td><a id="delete" href="/intranet/company/delete?id={{comp.id}}">Delete</td>
>>>>>>> RepairMigrations:views/Entitys/company/companyList.html.twig
                        </tr>
                    {% endfor %}                
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
<<<<<<< HEAD:views/company/companyList.html.twig
                <form action="/company/form" method="get">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Añadir">
                        <a href="/admin" class="btn btn-primary">Cancelar</a>
=======
                <form id="addCompany" action="/intranet/company/form" method="get">
                    <div class="form-group">
                        <input id="submit" type="submit" class="btn btn-primary" value="Añadir">
                        <a href="/intranet/admin" class="btn btn-primary">Cancelar</a>
>>>>>>> RepairMigrations:views/Entitys/company/companyList.html.twig
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}