{% extends "menu.html.twig" %}
{% import 'macros.html.twig' as fields %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2> {{ title }} </h2>
            </div>   
            <div class="col-md-2 d-flex justify-content-end align-items-end">
                <a class="link " href="/Intranet/admin?selected_tab={{ tab }}">Volver</a> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th>Banco</th>
                        <th>Titular</th>
                        <th>Número Cuenta</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for account in accounts %}
                        <tr>
                            <td>{{ account.bank }}</td>
                            <td>{{ account.owner }}</td>
                            <td>{{ account.accountNumber }}</td>
                            <td><a href="/Intranet/accounts/form?id={{account.id}}">Edit</a></td>
                            <td><a href="/Intranet/accounts/delete?id={{account.id}}">Delete</a></td>
                        </tr>
                    {% endfor %}                
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <form id="addAccount" action="/Intranet/accounts/form" method="get">
                     {{ fields.buttonsList(tab) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}