{% extends "menu.html.twig" %}
{% import 'macros.html.twig' as fields %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">               
                <h2> {{ title }} </h2>
            </div>   
            <div class="col-md-2 d-flex justify-content-end align-items-end">
                <a class="link " href="/Intranet/admin?selected_tab={{ tab }}">Volver</a> 
            </div>
        </div>
        <div class="row">
            {{ fields.searchList(search) }}
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th>Nº Oferta</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Vehículo</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for offer in offers %}
                        <tr>
                            <td>{{ offer.offerNumber }}</td>
                            <td>{{ offer.offerDate|date('d-m-Y') }}</td>
                            <td>{{ offer.name }}</td>
                            <td>{{ offer.brand }} {{ offer.model }}</td>                           
                            <td><a href="/Intranet/sales/offers/form?offer_id={{offer.id}}">Edit</a></td>
                            <td><a href="/Intranet/sales/offers/delete?offer_id={{offer.id}}">Delete</a></td>
                        </tr>
                    {% endfor %}                
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <form id="addSellOffer" action="/Intranet/sales/offers/form" method="get">
                    {{ fields.buttonsList(tab) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
