{% extends "menu.html.twig" %}
{% import 'macros.html.twig' as fields %}
{% block content %}
<div class="container">
    {% block javascripts %}
        {% if script %}
            <script>
                {{ include(script)}}
            </script>
        {% endif %}
    {% endblock %}
    <div class="row">
        <div class="col-md-10">
            <h2> {{ title }} </h2>
        </div>   
        {{ fields.return(list, tab) }}       
    </div>
    <div class="row">
        {{ fields.alert(responseMessage) }}
    </div>
    <div class="row">
        <div class="col">            
            <form id="{{formName}}" action="{{save}}" method="post">
                <div class="form-row">                    
                    {{ fields.input2(inputs.id.id, inputs.id.name, inputs.id.title, value.id) }}
                </div>
                <div class="form-row">                    
                   {{ fields.input4(inputs.ref.id, inputs.ref.name, inputs.ref.title, value.ref) }}
                   {{ fields.select(inputs.selectMader.id, inputs.selectMader.name, inputs.selectMader.title, value|json_encode(), iterable) }}
                   {{ fields.input4(inputs.serialNumber.id, inputs.serialNumber.name, inputs.serialNumber.title, value.serialNumber) }}
                </div>
                <div class="row">
                    {{ fields.inputRow(inputs.name.id, inputs.name.name, inputs.name.title, value.name) }}
                </div>                                                      
                <div class="form-row">                         
                    {{ fields.textarea(inputs.observations.id, inputs.observations.name, inputs.observations.title, value.observations) }}                               
                </div>
                <div class="form-row">                    
                    {{ fields.input3offset6(inputs.pvc.id, inputs.pvc.name, inputs.pvc.title, value.pvc) }}
                    {{ fields.input3(inputs.pvp.id, inputs.pvp.name, inputs.pvp.title, value.pvp) }}
                </div>
                <div class="form-row">                    
                    {{ fields.input3offset6disabled(inputs.tvaBuy.id, inputs.tvaBuy.name, inputs.tvaBuy.title, null) }}
                    {{ fields.input3disabled(inputs.tvaSell.id, inputs.tvaSell.name, inputs.tvaSell.title, null) }}
                </div>
                <div class="form-row">                    
                    {{ fields.input3offset6(inputs.totalBuy.id, inputs.totalBuy.name, inputs.totalBuy.title, null) }}
                    {{ fields.input3(inputs.totalSell.id, inputs.totalSell.name, inputs.totalSell.title, null) }}
                </div>
                <div class="form-row">
                    {{ fields.buttonsForm(tab) }}
                </div>
            </form>
        </div>        
    </div>
</div>    
{% endblock %}