{% extends "menu.html.twig" %}
{% import 'macros.html.twig' as fields %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2> Users </h2>
            </div>   
            <div class="col-md-2 d-flex justify-content-end align-items-end">
                <a class="link " href="/Intranet/admin?selected_tab={{ tab }}">Volver</a> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th class="col-1">ID</th>
                        <th class="col-9">email</th>  
                        <th class="col-3">Edit</th>                      
                        <th class="col-3">Delete</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>                            
                            <td><a href="/Intranet/users/form?id={{user.id}}">Edit</a></td>
                            <td><a href="/Intranet/users/delete?id={{user.id}}">Delete</a></td>
                        </tr>
                    {% endfor %}                
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <form id="addUser" action="/Intranet/users/form" method="get">
                    {{ fields.buttonsList(tab) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}