{% extends "layout.html.twig" %}
{% block content %}
<div class="content-wrapper pb-5" style="min-height: 960px">
    <section class="content-header"><h2>Usuario</h2></section>
    <section class="content ">
        <div class="volver-link">
            <span class="alert float-left">{{ responseMessage }}</span>            
            <a class="btn btn-outline-primary float-right" href="Intranet/users/list?menu=mantenimiento&item=companies">Lista</a>
        </div>
        <div class="container-fluid">
            <form class="form-horizontal " id="formBank" action="Intranet/users/save" method="post">
                <div class="form-group col">
                    <input type="hidden" style="display:none;" id="menu" name="menu" value="{{ menu }}">
                    <input type="hidden" style="display:none;" id="menuItem" name="menuItem" value="{{ menuItem }}">
                    <div class="row">
                        <input type="hidden" style="display:none;" id="id" name="id" value="{{ userSelected.id }}">
                        <div class="input-group col-8">
                            <label class="control-label" for="name">Nombre</label>
                            <input type="text" id="name" name="name" class="form-control" value="{{ userSelected.name }}">
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="input-group col-6">
                            <label class="control-label" for="name">Email</label>
                            <input type="text" id="email" name="email" class="form-control" value="{{ userSelected.email }}">
                        </div>
                        <div class="input-group col-6">
                            <label class="control-label" for="fiscalName">Password</label>
                            <input type="password" id="password" name="password" class="form-control" value="{{ userSelected.password }}">
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="input-group col-8">
                            <label class="control-label" for="address">Direccion</label>
                            <input type="text" id="address" name="address" class="form-control" value="{{ userSelected.address }}">
                        </div>
                        <div class="input-group col-4">
                            <label class="control-label pl-4" for="postalCode">Codigo Postal</label>
                            <input type="text" id="postalCode" name="postalCode" class="form-control" value="{{ userSelected.postalCode }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-6">
                            <label class="control-label" for="city">Ciudad</label>
                            <input type="text" id="city" name="city" class="form-control" value="{{ userSelected.city }}">
                        </div>
                        <div class="input-group col-6">
                            <label class="control-label" for="state">Provincia</label>
                            <input type="text" id="state" name="state" class="form-control" value="{{ userSelected.state }}">
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="input-group col-6">
                            <label class="control-label" for="country">Pais</label>
                            <input type="text" id="country" name="country" class="form-control" value="{{ userSelected.country }}">
                        </div>
                        <div class="input-group col-6">
                            <label class="control-label" for="phone">Teléfono</label>
                            <input type="text" id="phone" name="phone" class="form-control" value="{{ userSelected.phone }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-6">
                            <label class="control-label" for="email">Nivel Acceso</label>
                            <input type="text" id="access" name="access" class="form-control" value="{{ userSelected.access }}">
                        </div>                        
                    </div>
                </div>
                    {% if userSelected %}
                        <div class="button-wrapper float-left">
                            <a class="btn btn-primary" href="Intranet/banks/delete?id={{ userSelected.id }}&menu=mantenimiento&item=companies">Eliminar</a>                            
                        </div> 
                    {% endif %}
                <div class="button-wrapper float-right">
                    <button type="submit" form="formBank" class="btn btn-primary" id="submit">Guardar</button>
                    <button type="button" form="formBank" class="btn btn-primary" id="reset">Restablecer</button>
                </div>                
            </form>
        </div>
    </section>
</div>
            
            
{% endblock %}