{% extends "dashboard.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h2> Oferta </h2>
        </div>   
        <div class="col-md-2 d-flex justify-content-end align-items-end">
            <a class="link pr-4" href="/intranet/crm/offers/list">Lista</a> 
            <a class="link " href="/intranet/admin">Volver</a> 
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <div id="alert" class="alert alert-dark" role="alert">
                {{ responseMessage }}
            </div>
        </div>
    </div>              
    <div class="form-row">
        <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="offer-tab" data-toggle="tab" href="#offer" role="tab" aria-controls="offer" aria-selected="false">Oferta</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="customer-tab" data-toggle="tab" href="#customer" role="tab" aria-controls="customer" aria-selected="true">Cliente</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="vehicle-tab" data-toggle="tab" href="#vehicle" role="tab" aria-controls="vehicle" aria-selected="false">Vehículo</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="supplies-tab" data-toggle="tab" href="#supplies" role="tab" aria-controls="supplies" aria-selected="false">Accesorios</a>
                </li> 
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="works-tab" data-toggle="tab" href="#works" role="tab" aria-controls="works" aria-selected="false">Trabajos</a>
                </li> 
            </ul>
        </div>
    </div>      
    <form action="/intranet/crm/offers/save" method="post" class="form">
        <div class="tab-content" id="myTabContent">    
            <div class="tab-pane fade show active" id="offer" role="tabpanel" aria-labelledby="offer-tab">
                <div class="form-row mt-3">
                    <div class="form-group col-md-1">
                          <label for="inputOfferID">ID</label>                        
                          <input type="text" name="id" class="form-control" id="inputId" placeholder="" value="{{ new_selloffer }}">
                    </div>
                    <div class="form-group col-md-2 offset-md-6">
                          <label for="inputOfferNumber">Numero de Oferta</label>                        
                          <input type="text" name="offer_number" class="form-control" id="inputOfferNumber" placeholder="" value="{{ sellOffer.offer_number }}">
                    </div>
                    <div class="form-group col-md-2">
                          <label for="inputOfferDate">Fecha</label>                        
                          <input type="date" name="date" class="form-control" id="inputDate" placeholder="" value="{{ sellOffer.offer_date }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="texts">Textos</label>
                        <textarea class="form-control" name="texts" id="texts" rows="4">{{ sellOffer.texts }}</textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="observations">Observaciones</label>
                        <textarea class="form-control" name="observations" id="observations" rows="4">{{ sellOffer.observations }}</textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2 offset-md-4">
                        <label for="inputPrice">P.V.P.</label>
                        <input type="text" name="price" step="0.01" class="euros form-control" id="inputPrice" placeholder="" value="{{ vehicle.pvp }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputDiscount">Descuento</label>
                        <input type="text" name="discount" step="0.01" class="euros form-control" id="inputDiscount" placeholder="" value="{{ sellOffer.discount }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputTva">I.V.A.</label>
                        <input type="text" name="tva" step="0.01" class="euros form-control" id="inputTva" placeholder="" value="{{ sellOffer.tva }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputTotal">Total</label>
                        <input type="text" name="total" class="euros form-control" id="inputTotal" placeholder="" value="{{ sellOffer.total}}">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="customer" role="tabpanel" aria-labelledby="customer-tab">
                <div class="form-row mt-3">
                    <div class="form-group col text-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchCustomerModal">
                            Buscar Cliente
                        </button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                          <label for="inputCustomerID">ID</label>                        
                          <input type="text" name="customer_id" class="form-control" id="inputCustomerId" placeholder="" value="{{ customer.id }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="inputName">Nombre</label>                        
                        <input type="text" name="name" class="form-control" id="inputName" placeholder="" value="{{ customer.name }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputFiscalId">DNI/CIF</label>
                        <input type="text" name="fiscal_id" class="form-control" id="inputFiscalId" placeholder="" value="{{ customer.fiscal_id }}">
                    </div>                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="inputAddress">Dirección</label>
                        <input type="text" name="address" class="form-control" id="inputAddress" placeholder="" value="{{ customer.address }}">
                    </div>
                     <div class="form-group col-md-2">
                        <label for="inputPostalCode">C.P.</label>
                        <input type="text" name="cp" class="form-control" id="inputCp" placeholder="" value="{{ customer.postal_code }}">
                    </div>                    
                </div>
                <div class="form-row mb-3">  
                    <div class="form-group col-md-3">
                        <label for="inputCity">Población</label>
                        <input type="text" name="city" class="form-control" id="inputCity" placeholder="" value="{{ customer.city }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">Provincia</label>
                        <input type="text" name="state" class="form-control" id="inputState" placeholder="" value="{{ customer.state }}">
                    </div>                                       
                    <div class="form-group col-md-3">
                        <label for="inputCountry">Pais</label>
                        <input type="text" name="country" class="form-control" id="inputCountry" placeholder="" value="{{ customer.country }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPhone">Teléfono</label>                        
                        <input type="text" name="phone" class="form-control" id="inputPhone" placeholder="" value="{{ customer.phone }}">
                    </div>
                </div>
                <div class="form-row">                    
                    <div class="form-group col-md-6">
                        <label for="inputFiscalId">Email</label>
                        <input type="text" name="email" class="form-control" id="inputEmail" placeholder="" value="{{ customer.email }}">
                    </div>                    
                </div>
            </div>                        
            <div class="tab-pane fade" id="vehicle" role="tabpanel" aria-labelledby="vehicle-tab">
                <div class="form-row mt-3">                                                      
                    <div class="form-group col">
                        <div class="form-group col text-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchVehicleModal">
                            Buscar Vehículo
                        </button>
                    </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                          <label for="inputVehicleID">ID</label>                        
                          <input type="text" name="vehicle_id" class="form-control" id="inputVehicleId" placeholder="" value="{{ vehicle.id }}">
                    </div>                    
                    <div class="form-group col-md-2">                          
                        <label for="inputPlate">Matricula</label>
                        <input type="text" name="plate" class="form-control" id="inputPlate" placeholder="" value="{{ vehicle.plate }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputBrand">Marca</label>
                        <input type="text" name="brand" class="form-control" id="inputBrand" placeholder="" value="{{ brand.name }}">
                    </div>                                
                    <div class="form-group col-md-2">
                        <label for="inputModelVh">Modelo</label>
                        <input type="text" name="model" class="form-control" id="inputModel" placeholder="" value="{{ model.name }}">
                    </div>                    
                    <div class="form-group col-md-4">
                        <label for="inputDescription">Descripcion</label>
                        <input type="text" name="description" class="form-control text-center" id="inputDescription" placeholder="130cv" value="{{ vehicle.description }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputColor">Color</label>
                        <input type="text" name="color" class="form-control text-center" id="inputColor" placeholder="" value="{{ vehicle.color }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputDoors">Puertas</label>
                        <input type="text" name="doors" class="form-control text-center" id="inputDoors" placeholder="" value="{{ vehicle.doors }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPlazas">Plazas</label>
                        <input type="text" name="places" class="form-control" id="inputPlaces" placeholder="" value="{{ vehicle.places }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPower">Potencia</label>
                        <input type="text" name="power" class="form-control" id="inputPower" placeholder="" value="{{ vehicle.power }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputType">Tipo Vehículo</label>
                        <select name="type" class="form-control" id="selectType">
                            {% for type in types %}
                                <option>{{ type.name }}</option>
                            {% endfor %}                            
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2 offset-md-4">
                        <label for="inputPriceVehicle">P.V.P.</label>
                        <input type="text" name="price_vehicle" step="0.01" class="euros form-control" id="inputVehiclePrice" placeholder="" value="{{ vehicle.pvp }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputVehicleDiscount">Descuento</label>
                        <input type="text" name="vehicle_discount" step="0.01" class="euros form-control" id="inputVehicleDiscount" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputVehicleTva">I.V.A.</label>
                        <input type="text" name="vehicle_tva" step="0.01" class="euros form-control" id="inputVehicleTva" placeholder="" value="{{ vehicle.tva }}">
                    </div>  
                    <div class="form-group col-md-2">
                        <label for="inputVehicleTotal">Total</label>
                        <input type="text" name="vehicle_total" class="euros form-control" id="inputVehicleTotal" placeholder="" value="{{ vehicle.total }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="vehicle_comments">Comentarios</label>
                        <textarea class="form-control" name="vehicle_comments" id="vehicle_comments" rows="6">{{ sellOffer.vehicle_comments }}</textarea>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="supplies" role="tabpanel" aria-labelledby="supplies-tab">
                <div class="form-row mt-3">
                    <div class="form-group col text-right">
                        <button type="button" formmethod="get" class="btn btn-primary" data-toggle="modal" data-target="#searchSuppliesModal">
                            Buscar Recambios
                        </button>                        
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label for="inputSupplyId">ID</label>
                        <input type="text" name="supply_id" class="form-control" id="inputSupplyId" placeholder="" value="{{ selected_supply.id }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputSupplyReference">Referencia</label>
                        <input type="text" name="supply_reference" class="form-control" id="inputSupplyReference" placeholder="" value="{{ selected_supply.ref }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputSupplyName">Nombre</label>
                        <input type="text" name="supply_name" class="form-control" id="inputSupplyName" placeholder="" value="{{ selected_supply.name }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputSupplyPrice">Precio</label>
                        <input type="text" name="supply_price" class="form-control" id="inputSupplyPrice" placeholder="" value="{{ selected_supply.pvp }}">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputSupplyCantity">Cantidad</label>
                        <input type="text" name="supply_cantity" class="form-control" id="inputSupplyCantity" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputSupplyTotal">Importe</label>
                        <input type="text" name="supply_reference" class="form-control" id="inputSupplyTotal" placeholder="" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col text-right">
                        <button type="button" onclick="addSupply()" class="btn btn-primary">Añadir</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <table id="SuppliesTable" class="table table-bordered">                            
                            <tr>
                                <th>ID</th>
                                <th>Referencia</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>                           
                            {% for supply in offerSupplies %}
                                 <tr>
                                     <td>{{ supply.id }}</td>
                                     <td>{{ supply.reference }}</td>
                                     <td>{{ supply.name }}</td>
                                     <td>{{ supply.price }}</td>
                                     <td>{{ supply.cantity }}</td>
                                     <td>{{ supply.import }}</td>
                                 </tr>
                            {% endfor %}
                        </table>                        
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2 offset-md-6">
                        <label for="inputSuppliesPrice">P.V.P.</label>
                        <input type="text" name="price" step="0.01" class="euros form-control" id="inputSuppliesBase" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputSuppliesTva">I.V.A.</label>
                        <input type="text" name="tva" step="0.01" class="euros form-control" id="inputSuppliesTva" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputSuppliesTotal">Total</label>
                        <input type="text" name="total" class="euros form-control" id="inputSuppliesTotal" placeholder="" value="">
                    </div>
                </div>
                        <div class="form-row mt-3">
                    <div class="form-group col text-right">                        
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchComponentsModal">
                            Buscar Componentes
                        </button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label for="inputComponentId">ID</label>
                        <input type="text" name="component_id" class="form-control" id="inputComponentId" placeholder="" value="{{ selected_component.id }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputComponentReference">Referencia</label>
                        <input type="text" name="component_reference" class="form-control" id="inputComponentReference" placeholder="" value="{{ selected_component.ref }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputComponentName">Nombre</label>
                        <input type="text" name="component_name" class="form-control" id="inputComponentName" placeholder="" value="{{ selected_component.name }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputComponentPrice">Precio</label>
                        <input type="text" name="component_price" class="form-control" id="inputComponentPrice" placeholder="" value="{{ selected_component.pvp }}">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputComponentCantity">Cantidad</label>
                        <input type="text" name="component_cantity" class="form-control" id="inputComponentCantity" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputComponentTotal">Importe</label>
                        <input type="text" name="component_reference" class="form-control" id="inputComponentTotal" placeholder="" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col text-right">
                        <button type="button" onclick="addComponent()" class="btn btn-primary">Añadir</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">                        
                        <table id="ComponentsTable" class="table table-bordered">
                            <tr>
                                <th>ID</th>
                                <th>Referencia</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                            {% for component in offerComponents %}
                                 <tr>
                                     <td>{{ component.id }}</td>
                                     <td>{{ component.reference }}</td>
                                     <td>{{ component.name }}</td>
                                     <td>{{ component.price }}</td>
                                     <td>{{ component.cantity }}</td>
                                     <td>{{ component.import }}</td>
                                 </tr>
                            {% endfor %} 
                        </table>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2 offset-md-6">
                        <label for="inputComponentsPrice">P.V.P.</label>
                        <input type="text" name="price" step="0.01" class="euros form-control" id="inputComponentsBase" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputComponentsTva">I.V.A.</label>
                        <input type="text" name="tva" step="0.01" class="euros form-control" id="inputComponentsTva" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputComponentsTotal">Total</label>
                        <input type="text" name="total" class="euros form-control" id="inputComponentsTotal" placeholder="" value="">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="works" role="tabpanel" aria-labelledby="works-tab">
                <div class="form-row mt-3">
                    <div class="form-group col text-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchWorksModal">
                            Buscar Trabajos
                        </button>                        
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label for="inputWorkId">ID</label>
                        <input type="text" name="work_id" class="form-control" id="inputWorkId" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputWorkDescription">Descripcion</label>
                        <input type="text" name="work_name" class="form-control" id="inputWorkDescription" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputWorkPrice">Precio</label>
                        <input type="text" name="work_price" class="form-control" id="inputWorkPrice" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputWorkCantity">Cantidad</label>
                        <input type="text" name="work_cantity" class="form-control" id="inputWorkCantity" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputWorkTotal">Importe</label>
                        <input type="text" name="work_reference" class="form-control" id="inputWorkTotal" placeholder="" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col text-right">
                        <button type="submit" formaction="" formmethod="post"  class="btn btn-primary">Añadir</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <table class="table table-bordered">
                            <tr>
                                <th>ID</th>
                                <th>Descripcion</th>                                
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                            </tr>                           
                            {% for work in works %}
                                 <tr>
                                     <td>{{ work.id }}</td>
                                     <td>{{ work.description }}</td>                                     
                                     <td>{{ work.price }}</td>
                                     <td>{{ work.cantity }}</td>
                                     <td>{{ work.import }}
                                 </tr>
                            {% endfor %}                                
                        </table>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2 offset-md-6">
                        <label for="inputWorksPrice">P.V.P.</label>
                        <input type="text" name="price" step="0.01" class="euros form-control" id="inputWorksBase" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputWorksTva">I.V.A.</label>
                        <input type="text" name="tva" step="0.01" class="euros form-control" id="inputWorksTva" placeholder="" value="">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputWorksTotal">Total</label>
                        <input type="text" name="total" class="euros form-control" id="inputWorksTotal" placeholder="" value="">
                    </div>
                </div>                            
            </div>            
        </div>
        <div class="form-row">
            <div class="form-group col text-right">
                <button type="submit" formaction="/intranet/reports/selloffer" formmethod="post"  class="btn btn-primary">Imprimir</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/intranet/admin" class="btn btn-primary">Cancelar</a>
            </div>
        </div> 
    </form>         
    <!-- Modal Customers -->
    <div class="modal fade" id="searchCustomerModal" tabindex="-1" role="dialog" aria-labelledby="searchCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchCustomerModalLabel">Clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form id="searchCustomerForm" action="/intranet/crm/offers/customer/search" method="post" class="form">
                                <div class="container">
                                    <div id="formRow" class="form-row text-right">
                                        <div class="col-11">                                                                                
                                            <input id="searchCustomerField" type="text" name="searchCustomerFilter" class="form-control mb-2 mr-sm-2" id="inlineFormSearchFilter" placeholder="Nombre / Cif / Telefono / email">
                                        </div>
                                        <div class="col-1">
                                            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                          
                    <div class="row">
                        <div class="col">
                            <table id="customersTable" class="table">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Población</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Edit</th>                                    
                                </tr>
                                
                                {% for customer in customers %}                                    
                                    <tr id="datarow">
                                        <td>{{ customer.name }}</td>
                                        <td>{{ customer.city }}</td>
                                        <td>{{ customer.phone }}</td>
                                        <td>{{ customer.email }}</td>
                                        <td><a href="/intranet/crm/offers/customer/select?customer_id={{customer.id}}&offer_id={{ new_selloffer }}&vehicle_id={{ vehicle.id }}&work_id={{work.id}}&supply_id={{ supply.id }}&component_id={{ component.id }}">Select</a></td>                                        
                                    </tr>  
                                {% endfor %}                
                            </table>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>                  
                </div>
            </div>
        </div>
    </div>                            
    {% block javascripts %}
        <script>
            {{ include('js/sellOffers.js')}}
         </script>
    {% endblock %}    
    <!-- Modal Vehicles -->
    <div class="modal fade" id="searchVehicleModal" tabindex="-1" role="dialog" aria-labelledby="searchVehicleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form id="searchVehicleForm" action="/intranet/crm/offers/vehicle/search" method="post" class="form">
                                <div class="container">
                                    <div id="formRow" class="form-row text-right">
                                        <div class="col-11">                                                                                
                                            <input id="searchVehicleField" type="text" name="searchVehicleFilter" class="form-control mb-2 mr-sm-2" placeholder=" Matricula / Bastidor / Marca / Modelo / Descripcion">
                                        </div>
                                        <div class="col-1">
                                            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                          
                    <div class="row">
                        <div class="col">
                            <table id="vehiclesTable" class="table">
                                <tr>
                                    <th>Matricula</th>
                                    <th>Bastidor</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Descripcion</th>
                                    <th>Edit</th>                                    
                                </tr>
                                {% for vehicle in vehicles %}
                                    <tr>
                                        <td>{{ vehicle.plate }}</td>
                                        <td>{{ vehicle.vin }}</td>
                                        <td>{{ vehicle.brand }}</td>
                                        <td>{{ vehicle.model }}</td>
                                        <td>{{ vehicle.description }}</td>
                                        <td><a href="/intranet/crm/offers/vehicle/select?vehicle_id={{vehicle.id}}&offer_id={{ new_selloffer }}&work_id={{work.id}}&customer_id={{ customer.id }}&supply_id={{ supply.id }}&component_id={{ component.id }}">Select</a></td>                                        
                                    </tr>
                                {% endfor %}                
                            </table>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>                  
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Supplies -->
    <div class="modal fade" id="searchSuppliesModal" tabindex="-1" role="dialog" aria-labelledby="searchSuppliesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchSupplyModalLabel">Recambios</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form id="searchSuppliesForm" action="/intranet/buys/supplies/search" method="post" class="form">
                                <div class="container">
                                    <div id="formRow" class="form-row text-right">
                                        <div class="col-11">                                                                                
                                            <input id="searchSupplyField" type="text" name="searchSuppliesFilter" class="form-control mb-2 mr-sm-2" id="inlineFormSearchFilter" placeholder="">
                                        </div>
                                        <div class="col-1">
                                            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                          
                    <div class="row">
                        <div class="col">
                            <table id="suppliesTable" class="table">
                                <tr>
                                    <th>Referencia</th>
                                    <th>Marca</th>
                                    <th>Ref. Fabricante</th>                                    
                                    <th>Nombre</th>
                                    <th>Stock</th>
                                    <th>Pvp</th>                                    
                                </tr>                                
                                {% for supply in supplies %}                                    
                                    <tr id="datarow">
                                        <td>{{ supply.ref }}</td>
                                        <td>{{ supply.mader }}</td>
                                        <td>{{ supply.mader_code }}</td>
                                        <td>{{ supply.name }}</td>
                                        <td>{{ supply.stock }}</td>
                                        <td>{{ supply.pvp }}</td>
                                        <td><a href="/intranet/crm/offers/supplies/select?supply_id={{ supply.id }}&offer_id={{ new_selloffer }}&work_id={{work.id}}&vehicle_id={{ vehicle.id }}&customer_id={{ customer.id }}&component_id={{ component.id }}">Select</a></td>                                        
                                    </tr>  
                                {% endfor %}                
                            </table>
                        </div>
                    </div>                    
                </div>                 
                <div class="modal-footer">                                               
                    <button type="button" class="btn btn-primary ml-auto" data-dismiss="modal">Close</button>  
                </div>              
            </div>
        </div>
    </div> 
    <!-- Modal Components -->
    <div class="modal fade" id="searchComponentsModal" tabindex="-1" role="dialog" aria-labelledby="searchComponentsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchComponentsModalLabel">Componentes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form id="searchComponentsForm" action="/intranet/crm/offers/components/search" method="post" class="form">
                                <div class="container">
                                    <div id="formRow" class="form-row text-right">
                                        <div class="col-11">                                                                                
                                            <input id="searchComponentField" type="text" name="searchComponentFilter" class="form-control mb-2 mr-sm-2" id="inlineFormSearchFilter" placeholder="Nombre / Cif / Telefono / email">
                                        </div>
                                        <div class="col-1">
                                            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                          
                    <div class="row">
                        <div class="col">                            
                            <table id="componentsTable" class="table">
                                <tr>
                                    <th>Referencia</th>
                                    <th>Marca</th>
                                    <th>Serial Number</th>                                    
                                    <th>Nombre</th>                                    
                                    <th>Pvp</th>                                    
                                </tr>                                
                                {% for component in components %}                                    
                                    <tr id="datarow">
                                        <td>{{ component.ref }}</td>
                                        <td>{{ component.mader }}</td>
                                        <td>{{ component.serial_number }}</td>
                                        <td>{{ component.name }}</td>
                                        <td>{{ component.stock }}</td>
                                        <td>{{ component.pvp }}</td>                                        
                                        <td><a href="/intranet/crm/offers/components/select?component_id={{component.id}}&offer_id={{new_selloffer}}&work_id={{work.id}}&vehicle_id={{ vehicle.id }}&supply_id={{ supply.id }}&offer_supplies={{ offer_supplies }}">Select</a></td>                                        
                                    </tr>  
                                {% endfor %}                
                            </table>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>                  
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Works -->
    <div class="modal fade" id="searchWorksModal" tabindex="-1" role="dialog" aria-labelledby="searchWorksModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchWorksModalLabel">Trabajos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form id="searchWorksForm" action="/intranet/crm/offers/works/search" method="post" class="form">
                                <div class="container">
                                    <div id="formRow" class="form-row text-right">
                                        <div class="col-11">                                                                                
                                            <input id="searchWorkField" type="text" name="searchWorkFilter" class="form-control mb-2 mr-sm-2" id="inlineFormSearchFilter" placeholder="Nombre / Cif / Telefono / email">
                                        </div>
                                        <div class="col-1">
                                            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                          
                    <div class="row">
                        <div class="col">                            
                            <table id="worksTable" class="table">
                                <tr>
                                    <th>Referencia</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>                                                                      
                                    <th>Pvp</th>                                    
                                </tr>                                
                                {% for work in works %}                                    
                                    <tr id="datarow">
                                        <td>{{ work.ref }}</td>
                                        <td>{{ work.description }}</td>
                                        <td>{{ work.cantity }}</td>                                        
                                        <td>{{ work.pvp }}</td>                                        
                                        <td><a href="/intranet/crm/offers/works/select?work_id={{work.id}}&offer_id={{new_selloffer}}&vehicle_id={{ vehicle.id }}&supply_id={{ supply.id }}&component_id={{ component.id }}&offer_supplies={{ offer_supplies }}">Select</a></td>                                        
                                    </tr>  
                                {% endfor %}                
                            </table>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>                  
                </div>
            </div>
        </div>
    </div>
{% endblock %}
