{% extends "dashboard.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h2> Oferta </h2>
        </div>   
        <div class="col-md-2 d-flex justify-content-end align-items-end">
            <a class="link pr-4" href="/intranet/crm/offers/list">Lista</a> 
            <a class="link " href="/intranet/admin">Volver</a> 
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-dark" role="alert">
                {{ responseMessage }}
            </div>
        </div>
    </div>              
    <div class="form-row">
        <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="customer-tab" data-toggle="tab" href="#customer" role="tab" aria-controls="customer" aria-selected="true">Cliente</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="vehicle-tab" data-toggle="tab" href="#vehicle" role="tab" aria-controls="vehicle" aria-selected="false">Vehículo</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="offer-tab" data-toggle="tab" href="#offer" role="tab" aria-controls="offer" aria-selected="false">Oferta</a>
                </li>                            
            </ul>
        </div>
    </div>      
    <form action="/intranet/crm/offers/save" method="post" class="form">
        <div class="tab-content" id="myTabContent">        
            <div class="tab-pane fade show active" id="customer" role="tabpanel" aria-labelledby="customer-tab">
                <div class="form-row mt-3">
                    <div class="form-group col text-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchCustomerModal">
                            Buscar Cliente
                        </button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                          <label for="inputCustomerID">ID</label>                        
                          <input type="text" name="customer_id" class="form-control" id="inputCustomerId" placeholder="" value="{{ customer.id }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="inputName">Nombre</label>                        
                        <input type="text" name="name" class="form-control" id="inputName" placeholder="" value="{{ customer.name }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputFiscalId">DNI/CIF</label>
                        <input type="text" name="fiscal_id" class="form-control" id="inputFiscalId" placeholder="" value="{{ customer.fiscal_id }}">
                    </div>                    
                </div>
                <div class="form-row mb-3">
                    <div class="form-group col-md-4">
                        <label for="inputCity">Población</label>
                        <input type="text" name="city" class="form-control" id="inputCity" placeholder="" value="{{ customer.city }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPostalCode">C.P.</label>
                        <input type="text" name="cp" class="form-control" id="inputCp" placeholder="" value="{{ customer.cp }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">Provincia</label>
                        <input type="text" name="state" class="form-control" id="inputState" placeholder="" value="{{ customer.state }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputCountry">Pais</label>
                        <input type="text" name="country" class="form-control" id="inputCountry" placeholder="" value="{{ customer.country }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputPhone">Teléfono</label>                        
                        <input type="text" name="phone" class="form-control" id="inputPhone" placeholder="" value="{{ customer.phone }}">
                    </div>
                    <div class="form-group col-md-5 offset-md-4">
                        <label for="inputFiscalId">Email</label>
                        <input type="text" name="email" class="form-control" id="inputEmail" placeholder="" value="{{ customer.email }}">
                    </div>                    
                </div>
            </div>                        
            <div class="tab-pane fade" id="vehicle" role="tabpanel" aria-labelledby="vehicle-tab">
                <div class="form-row mt-3">                                                      
                    <div class="form-group col">
                        <div class="form-group col text-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchVehicleModal">
                            Buscar Vehículo
                        </button>
                    </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                          <label for="inputVehicleID">ID</label>                        
                          <input type="text" name="vehicle_id" class="form-control" id="inputVehicleId" placeholder="" value="{{ vehicle.id }}">
                    </div>
                    <div class="form-group col-md-2">                                   
                        <label for="inputPlate">Matricula</label>
                        <input type="text" name="plate" class="form-control" id="inputPlate" placeholder="" value="{{ vehicle.plate }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputBrand">Marca</label>
                        <input type="text" name="brand" class="form-control" id="inputBrand" placeholder="" value="{{ vehicle.brand }}">
                    </div>                                
                    <div class="form-group col-md-2">
                        <label for="inputModelVh">Modelo</label>
                        <input type="text" name="model" class="form-control" id="inputKm" placeholder="50000" value="{{ vehicle.km }}">
                    </div>                    
                    <div class="form-group col-md-4">
                        <label for="inputDescription">Descripcion</label>
                        <input type="text" name="description" class="form-control text-center" id="inputDescription" placeholder="130cv" value="{{ vehicle.description }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputColor">Color</label>
                        <input type="text" name="color" class="form-control text-center" id="inputColor" placeholder="" value="{{ vehicle.color }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputDoors">Puertas</label>
                        <input type="text" name="doors" class="form-control text-center" id="inputDoors" placeholder="" value="{{ vehicle.doors }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPlazas">Plazas</label>
                        <input type="text" name="places" class="form-control" id="inputPlaces" placeholder="" value="{{ vehicle.places }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPower">Potencia</label>
                        <input type="text" name="power" class="form-control" id="inputPower" placeholder="" value="{{ vehicle.power }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputType">Tipo Vehículo</label>
                        <select name="type" class="form-control" id="selectType">
                            {% for type in types %}
                                <option>{{ type.name }}</option>
                            {% endfor %}                            
                        </select>
                    </div>
                </div>
            </div>                        
            <div class="tab-pane fade" id="offer" role="tabpanel" aria-labelledby="offer-tab">
                <div class="form-row mt-3">
                    <div class="form-group col-md-1">
                          <label for="inputOfferID">ID</label>                        
                          <input type="text" name="id" class="form-control" id="inputId" placeholder="" value="{{ offer.id }}">
                      </div>
                    <div class="form-group col-md-2 offset-md-4">
                        <label for="inputPrice">P.V.P.</label>
                        <input type="text" name="price" class="form-control" id="inputPrice" placeholder="" value="{{ offer.pvp }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputDiscount">Descuento</label>
                        <input type="text" name="discount" class="form-control" id="inputDiscount" placeholder="" value="{{ offer.discount }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputTva">I.V.A.</label>
                        <input type="text" name="tva" class="form-control" id="inputTva" placeholder="" value="{{ offer.tva }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputTotal">Total</label>
                        <input type="text" name="total" class="form-control" id="inputTotal" placeholder="" value="{{ offer.vehicle.total }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col text-right">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/intranet/admin" class="btn btn-primary">Cancelar</a>
            </div>
        </div> 
    </form>         
    <!-- Modal Customers -->
    <div class="modal fade" id="searchCustomerModal" tabindex="-1" role="dialog" aria-labelledby="searchCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form id="searchCustomerForm" action="/intranet/crm/offers/customer/search" method="post" class="form">
                                <div class="container">
                                    <div id="formRow" class="form-row text-right">
                                        <div class="col-11">                                                                                
                                            <input id="searchCustomerField" type="text" name="searchCustomerFilter" class="form-control mb-2 mr-sm-2" id="inlineFormSearchFilter" placeholder="Nombre / Cif / Telefono / email">
                                        </div>
                                        <div class="col-1">
                                            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                          
                        <div class="row">
                        <div class="col">
                            <table id="customersTable" class="table">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Población</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Edit</th>                                    
                                </tr>
                                {% for customer in customers %}                                    
                                    <tr id="datarow">
                                        <td>{{ customer.name }}</td>
                                        <td>{{ customer.city }}</td>
                                        <td>{{ customer.phone }}</td>
                                        <td>{{ customer.email }}</td>
                                        <td><a href="/intranet/crm/offers/customer/select?customer_id={{customer.id}}">Select</a></td>                                        
                                    </tr>                                    
                                {% endfor %}                
                            </table>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  
                </div>
            </div>
        </div>
    </div>                            
    {% block javascripts %}
        <script>
            window.addEventListener('load', function()
            {                   
                document.getElementById("searchCustomerField").addEventListener("keyup", function()
                {                      
                    var request = new XMLHttpRequest();
                    request.open('POST', '/intranet/crm/offers/customer/search', true);
                    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    if(document.getElementById('searchCustomerField').value == "")
                    {
                        
                    }
                    else
                    {
                        request.send("searchCustomerFilter=" + document.getElementById('searchCustomerField').value);
                        function reqListener()
                        {
                            var response = JSON.parse(request.responseText);                            
                            var table = document.getElementById("customersTable");
                            while(table.childElementCount > 0)
                            {
                                table.removeChild(table.firstChild);
                            }                        
                            if(!response[0])
                            {
                                table.innerHTML = "<tr><td> No hay datos </td></tr>";
                            }
                            else
                            {                          
                               for(let i = 0; i < response.length ; i++)
                               {
                                   table.innerHTML += "<tr><td>"+response[i]['name']+"</td><td>"+response[i]['city']+"</td><td>"+response[i]['fiscal_id']+"</td><td>"+response[i]['address']+"</td><td><a href=/intranet/crm/offers/customer/select?customer_id="+response[i]['id']+"&offer_id={{offer.id}}&vehicle_id={{vehicle.id}}>Select</a></td></tr>";
                               } 
                               
                            }                        
                        }
                        request.addEventListener("load", reqListener);
                    }
                    
                    
                });
                
            });
         </script>
    {% endblock %}
    
    <!-- Modal Vehicles -->
    <div class="modal fade" id="searchVehicleModal" tabindex="-1" role="dialog" aria-labelledby="searchVehicleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form id="searchForm" action="/intranet/crm/offers/vehicle/search" method="post" class="form">
                                <div class="container">
                                    <div id="formRow" class="form-row text-right">
                                        <div class="col-11">                                                                                
                                            <input id="searchField" type="text" name="searchVehicleFilter" class="form-control mb-2 mr-sm-2" id="inlineFormSearchFilter" placeholder="Nombre / Cif / Telefono / email">
                                        </div>
                                        <div class="col-1">
                                            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                          
                        <div class="row">
                        <div class="col">
                            <table class="table">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Población</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Edit</th>                                    
                                </tr>
                                {% for customer in customers %}
                                    <tr>
                                        <td>{{ customer.name }}</td>
                                        <td>{{ customer.city }}</td>
                                        <td>{{ customer.phone }}</td>
                                        <td>{{ customer.email }}</td>
                                        <td><a href="/intranet/crm/offers/customer/search?customer_id={{customer.id}}">Select</a></td>                                        
                                    </tr>
                                {% endfor %}                
                            </table>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  
                </div>
            </div>
        </div>
    </div>
{% endblock %}
