{% extends "dashboard.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">               
                <h2> Ofertas </h2>
            </div>   
            <div class="col-md-2 d-flex justify-content-end align-items-end">
                <a class="link " href="/intranet/admin">Volver</a> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form id="searchForm" action="/intranet/crm/offers/search" method="post" class="form">
                    <div class="container">
                        <div id="formRow" class="form-row text-right">
                            <div class="col-11">                                                                                
                                <input id="searchField" type="text" name="searchFilter" class="form-control mb-2 mr-sm-2" id="inlineFormSearchFilter" placeholder="Nombre / Cif / Telefono / email">
                            </div>
                            <div class="col-1">
                                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th>Nº Oferta</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Vehículo</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for offer in offers %}
                        <tr>
                            <td>{{ offer.plate }}</td>
                            <td>{{ offer.brand }}</td>
                            <td>{{ offer.model }}</td>
                            <td>{{ offer.description }}</td>
                            <td><a href="/intranet/crm/offers/form?id={{offer.id}}">Edit</td>
                            <td><a href="/intranet/crm/offers/delete?id={{offer.id}}">Delete</td>
                        </tr>
                    {% endfor %}                
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <form action="/intranet/crm/offers/form" method="get">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Añadir">
                        <a href="/intranet/admin" class="btn btn-primary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
