{% extends "layout.html.twig" %}
{% block content %}
    <div class="content-wrapper pb-2" style="min-height: 960px">
        <section class="content-header"><h2>Bancos</h2></section>
        <section class="content">
            <div class="card-body">
                <form action="Intranet/banks/form" method="get">
                    <div class="form-group">
                        <input type="hidden" style="display:none;" id="menu" name="menu" value="{{ menu }}">
                        <input type="hidden" style="display:none;" id="menuItem" name="menuItem" value="{{ menuItem }}">
                        <button class="btn btn-info" type="submit" id="newCompanyButton">Nueva</button>
                    </div>
                </form> 
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="dataTableBanks" class="table-light table-listados table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Ciudad</th>
                                        <th>Teléfono</th>
                                        <th>Email</th>                                        
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>                                    
                                {% for bank in banks %}
                                    <tr>
                                        <td>{{ bank.id }}</td>
                                        <td>{{ bank.name }}</td>
                                        <td>{{ bank.city }}</td>
                                        <td>{{ bank.phone }}</td>
                                        <td>{{ bank.email }}</td>
                                        <td>
                                            <a href="Intranet/banks/form?id={{ bank.id }}&menu=mantenimiento&item=banks"><i class="fa fa-edit"></i></a>
                                            <a href="Intranet/banks/delete?id={{ bank.id }}&menu=mantenimiento&item=banks"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Ciudad</th>
                                        <th>Teléfono</th>
                                        <th>Email</th>
                                        <th>Acciones</th>                                        
                                    </tr>
                                </tfoot>                                
                            </table>
                        </div>
                    </div>
                </div>
                                                   
            </div>                         
        </section>
    </div>
{% endblock %}
