{% extends "layout.html.twig" %}
{% block content %}
    <div class="content-wrapper pb-2" style="min-height: 960px">
        <section class="content-header"><h2>Niveles de Acceso</h2></section>
        <section class="content">
            <div class="card-body">
                <form action="Intranet/userLevels/form" method="get">
                    <div class="form-group">
                        <input type="hidden" style="display:none;" id="menu" name="menu" value="{{ menuState }}">
                        <input type="hidden" style="display:none;" id="menuItem" name="menuItem" value="{{ menuItem }}">
                        <button class="btn btn-info" type="submit" id="newUserLevelButton">Nuevo</button>
                    </div>
                </form> 
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="dataTableUserLevels" class="table-light table-listados table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>  
                                        <th>Acciones</th> 
                                    </tr>
                                </thead>
                                <tbody>                                    
                                {% for level in userLevels %}
                                    <tr>
                                        <td>{{ level.id }}</td>
                                        <td>{{ level.name }}</td>                                        
                                        <td>
                                            <a href="Intranet/userLevels/form?id={{ level.id }}&menu=mantenimiento&item=userLevels"><i class="fa fa-edit"></i></a>
                                            <a href="Intranet/userLevels/delete?id={{ level.id }}&menu=mantenimiento&item=userLevels"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>                                                                                
                                        <th>Acciones</th>                                        
                                    </tr>
                                </tfoot>                                
                            </table>
                        </div>
                    </div>
                </div>                                                   
            </div>                         
        </section>
    </div>
{% endblock %}
