{% extends "layout.html.twig" %}
{% block content %}
<div class="content-wrapper pb-5" style="min-height: 960px">
    <section class="content-header"><h2>Nivel de Acceso</h2></section>
    <section class="content ">
        <div class="volver-link">
            <span class="alert float-left">{{ responseMessage }}</span>            
            <a class="btn btn-outline-primary float-right" href="Intranet/userLevels/list?menu=mantenimiento&item=userLevels">Lista</a>
        </div>
        <div class="container-fluid">
            <form class="form-horizontal " id="formUserLevel" action="Intranet/userLevels/save" method="post">
                <div class="form-group col">
                    <input type="hidden" style="display:none;" id="menu" name="menu" value="{{ menuState }}">
                    <input type="hidden" style="display:none;" id="menuItem" name="menuItem" value="{{ menuItem }}">
                    <div class="row">
                        <input type="hidden" style="display:none;" id="id" name="id" value="{{ userLevelSelected.id }}">
                        <div class="input-group col-8">
                            <label class="control-label" for="name">Nombre</label>
                            <input type="text" id="name" name="name" class="form-control" value="{{ userLevelSelected.name }}">
                        </div>                       
                    </div>                    
                </div>
                    {% if userLevelSelected %}
                        <div class="button-wrapper float-left">
                            <a class="btn btn-primary" href="Intranet/banks/delete?id={{ userLevelSelected.id }}&menu=mantenimiento&item=userLevels">Eliminar</a>                            
                        </div> 
                    {% endif %}
                <div class="button-wrapper float-right">
                    <button type="submit" form="formUserLevel" class="btn btn-primary" id="submit">Guardar</button>
                    <button type="button" form="formUserLevel" class="btn btn-primary" id="reset">Restablecer</button>
                </div>                
            </form>
        </div>
    </section>
</div>
            
            
{% endblock %}