{% extends "menu.html.twig" %}
{% import 'macros.html.twig' as fields %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">               
                <h2> {{ title }} </h2>
            </div>   
            <div class="col-md-2 d-flex justify-content-end align-items-end">
                <a class="link " href="/Intranet/admin?selected_tab={{ tab }}">Volver</a> 
            </div>
        </div>
        <div class="row">
            {{ fields.searchList(search) }}
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Marca</th>
                        <th>Nombre</th>                        
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for model in models %}
                        <tr>
                            <td>{{ model.id }}
                            <td>{{ model.brand }}
                            <td>{{ model.name }}</td>                           
                            <td><a href="Intranet/vehicles/models/form?id={{model.id}}">Edit</a></td>
                            <td><a href="Intranet/vehicles/models/delete?id={{model.id}}">Delete</a></td>
                        </tr>
                    {% endfor %}                
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <form id="addModel" action="Intranet/vehicles/models/form" method="get">
                    {{ fields.buttonsList(tab) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

