{% extends "dashboard.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2> Trabajos </h2>
            </div>   
            <div class="col-md-2 d-flex justify-content-end align-items-end">
                <a class="link " href="/intranet/admin">Volver</a> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th>Referencia</th>
                        <th>Descripcion</th>                       
                        <th>PVP</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>                    
                    {% for work in works %}
                        <tr>
                            <td>{{ work.reference }}</td>
                            <td>{{ work.description }}</td>
                            <td>{{ work.pvp }}</td>                            
                            <td><a href="/intranet/vehicles/works/form?id={{work.id}}">Edit</td>
                            <td><a href="/intranet/vehicles/works/delete?id={{work.id}}">Delete</td>
                        </tr>
                    {% endfor %}                
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <form id="addWork" action="/intranet/vehicles/works/form" method="get">
                    <div class="form-group">
                        <input id="submit" type="submit" class="btn btn-primary" value="Añadir">
                        <a href="/intranet/admin" class="btn btn-primary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}