{% extends "menu.html.twig" %}
{% import 'macros.html.twig' as fields %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2> {{ title }} </h2>
            </div>   
            <div class="col-md-2 d-flex justify-content-end align-items-end">
                <a class="link " href="/Intranet/admin?selected_tab={{ tab }}">Volver</a> 
            </div>
        </div>
        <div class="row">
            {{ fields.searchList(searchString) }}
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th>Referencia</th>
                        <th>Descripcion</th>                       
                        <th>PVP</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>                    
                    {% for work in works %}
                        <tr>
                            <td>{{ work.reference }}</td>
                            <td>{{ work.description }}</td>
                            <td>{{ work.pvp }}</td>                            
                            <td><a href="/Intranet/vehicles/works/form?id={{work.id}}">Edit</a></td>
                            <td><a href="/Intranet/vehicles/works/delete?id={{work.id}}">Delete</a></td>
                        </tr>
                    {% endfor %}                
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <form id="addWork" action="/Intranet/vehicles/works/form" method="get">
                    {{ fields.buttonsList(tab) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}